<!--==============================
        Footer Area
==============================-->
<footer class="footer-wrapper footer-layout3" data-bg-src="assets/img/bg/footer_bg_3.png">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-3 col-xl-3">
                    <div class="widget footer-widget">
                        <div class="as-widget-about">
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo.svg" alt="Dealaro"></a>
                            </div>
                            <p class="about-text">Fusce varius, dolor tempor interdum tristiquei bibendum.</p>
                            <ul class="footer-info-list">
                                <li class="footer-info"><i class="fa-solid fa-phone"></i><a href="tel:(+163)-1202-0088">(+163)-1202-0088</a></li>
                                <li class="footer-info"><i class="fa-solid fa-envelope"></i><a href="mailto:info@dealaro.com">info@dealaro.com</a></li>
                            </ul>
                            <div class="as-social pt-25">
                                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://www.goggle.com/"><i class="fa-brands fa-google"></i></a>
                                <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                <a href="https://www.pinterest.com/"><i class="fa-brands fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Useful Links <span class="line"></span></h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu2">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="shop.html">Car Listing
                                </a></li>
                                <li><a href="service.html">Our Services
                                </a></li>
                                <li><a href="blog.html">Our Blog
                                </a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget widget_nav_menu">
                        <h3 class="widget_title">our servises</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu2">
                                <li><a href="service.html">Air Freight</a></li>
                                <li><a href="service.html">Ocean Freight</a></li>
                                <li><a href="service.html">Warehousing</a></li>
                                <li><a href="service.html">Cargo Insurance
                                </a></li>
                                <li><a href="service.html">Road Freight</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget newsletter-widget footer-widget">
                        <h3 class="widget_title">Subscribe</h3>
                        <p class="footer-text">Get latest updates & offers Now.</p>
                        <form class="newsletter-form">
                            <input class="form-control" type="email" placeholder="Enter Email Address" required="">
                            <button type="submit" class="as-btn"><i class="fa-solid fa-paper-plane"></i></button>
                        </form>
                        <div class="company-info mt-35">
                            <h6 class="info-title"><i class="fa-light fa-clock"></i> Opening Time</h6>
                            <span class="info-details"> Mon-Sat :    8:00AM - 5:00PM</span>
                        </div>
                    </div>
                </div>                 
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="copyright-text"><i class="fal fa-copyright me-1"></i>Copyright 2023 <a href="https://themeforest.net/user/themeholy">Dealaro.</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-end d-none d-lg-block">
                    <div class="footer-links">
                        <ul>
                            <li><a href="about.html">Terms of use</a></li>
                            <li><a href="about.html">Privacy Environmental</a></li>
                            <li><a href="about.html">Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>