<!--==============================
        Footer Area
==============================-->
<footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/footer_bg_1.png">
    <div class="widget-area space2-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-4 col-xl-3">
                    <div class="widget footer-widget">
                        <div class="as-widget-about">
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo.svg" alt="Dealaro"></a>
                            </div>
                            <p class="about-text">Credibly deploy holistic opportunities without business outsourcing. Intrinsicly orchestrate top-line benefits vis-a-vis innovative</p>
                            <ul class="footer-info-list">
                                <li class="footer-info"><i class="fa-solid fa-location-dot"></i>14/A, Brown Tower, NewYork, USA</li>
                                <li class="footer-info"><i class="fa-solid fa-phone"></i><a href="tel:(+163)-1202-0088">(+163)-1202-0088</a></li>
                                <li class="footer-info"><i class="fa-solid fa-envelope"></i><a href="mailto:info@dealaro.com">info@dealaro.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">MY ACCOUNT</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="contact.html">My Account</a></li>
                                <li><a href="wishlist.html">Order History</a></li>
                                <li><a href="index.html">Returns</a></li>
                                <li><a href="blog.html">Advanced Search</a></li>
                                <li><a href="service.html">Customer Service</a></li>
                                <li><a href="shop.html">Specials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">QUICK LINKS</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="service.html">Our Services</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="service-details.html">Our Projects</a></li>
                                <li><a href="blog.html">Blogs Page</a></li>
                                <li><a href="blog-details.html">Blogs Details</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">SERVICES</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="service-details.html">Engine Repair</a></li>
                                <li><a href="service-details.html">Tire Replacement</a></li>
                                <li><a href="service-details.html">Batteries</a></li>
                                <li><a href="service-details.html">Break Repair</a></li>
                                <li><a href="service-details.html">Trandmission</a></li>
                                <li><a href="service-details.html">Oil Change</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Company Info</h3>
                        <div class="company-info-wrap">
                            <ul class="company-info-list">
                                <li class="company-info"><strong>Monday:</strong>8AM - 10PM</li>
                                <li class="company-info"><strong>Wednesday:</strong>8AM - 10PM</li>
                                <li class="company-info"><strong>Thursday:</strong>8AM - 10PM</li>
                                <li class="company-info"><strong>Friday:</strong>9AM - 7PM</li>
                                <li class="company-info"><strong>Saturday:</strong>9AM - 6PM</li>
                                <li class="company-info"><strong>Sunday:</strong>Closed</li>
                            </ul>
                        </div>
                    </div>
                </div>                  
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="copyright-text"><i class="fal fa-copyright me-1"></i>Copyright 2023 <a href="https://themeforest.net/user/themeholy">Dealaro.</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-end d-none d-lg-block">
                    <div class="footer-links">
                        <ul>
                            <li><a href="about.html">Terms of use</a></li>
                            <li><a href="about.html">Privacy Environmental</a></li>
                            <li><a href="about.html">Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>