<!--==============================
    About Area 2 
==============================-->
<section class="about-area2 space overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-thumb-wrap2 mb-lg-0 mb-5">
                    <div class="shape-mockup" data-bottom="-120px" data-right="0" data-left="-66%">
                        <img class="about-thumb-bg2" src="assets/img/about/about_thumb_bg_2.png" alt="img">
                    </div>
                    <div class="thumb-1"><img src="assets/img/about/about_2_1.png" alt="img"></div>
                    <div class="thumb-2"><img src="assets/img/about/about_2_2.png" alt="img"></div>  
                    <div class="about-counter1">
                        <h3 class="counter-title"><span class="counter-number">1</span>k+</h3>
                        <span class="counter-text">BEST CAR DEALER
                            AWARD</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="title-area mb-0">
                    <h3 class="sub-title">ABOUT OUR COMPANY</h3>
                    <h2 class="sec-title">Welcome to Our Dealaro Car
                        Dealer Company</h2>
                    <p class="content">Progressively develop out-of-the-box initiatives with superior opportunities. Interactively streamline cross-media partnerships without efficient process improvements. Distinctively network exceptional e-services.</p>
                    <div class="list-column2">
                        <div class="checklist">
                            <ul>
                                <li><img src="assets/img/icon/check.svg" alt="img"> We’re Here When You Need Us</li>
                                <li><img src="assets/img/icon/check.svg" alt="img"> Service & Maintenance</li>
                                <li><img src="assets/img/icon/check.svg" alt="img"> In House Financing</li>
                            </ul>
                        </div>
                        <div class="checklist">
                            <ul>
                                <li><img src="assets/img/icon/check.svg" alt="img"> Best Collection</li>
                                <li><img src="assets/img/icon/check.svg" alt="img"> Famous Brands</li>
                                <li><img src="assets/img/icon/check.svg" alt="img">Trusted Car Dealer</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-btn-group">
                        <a class="as-btn style4 mt-0" href="about.html">LEARN MORE</a>
                        <div class="about-grid">
                            <div class="about-grid_icon">
                                <div class="icon">
                                    <img src="assets/img/icon/message.svg" alt="icon">
                                </div>
                            </div>
                            <div class="media-body">
                                <h3 class="about-grid_title">Have Queries? Click Below Link</h3>
                                <span class="about-grid_link"><img class="me-2" src="assets/img/icon/hand.svg" alt="img"><a href="contact.html" class="gr-link">FAQ’S</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>