<!--==============================
    About Area  
==============================-->
<section class="about-area space-top custom-space-bottom" data-bg-src="assets/img/about/about_bg.png">
    <div class="container-fluid">
        <div class="about-wrap" data-bg-src="assets/img/about/about_card_bg.png">
            <img class="thumb-bg" src="assets/img/about/about_thumb_bg.png" alt="img">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-thumb-wrap">
                        <div class="thumb-1"><img src="assets/img/about/about_1.png" alt="img"></div>
                        <div class="thumb-2"><img src="assets/img/about/about_2.png" alt="img"></div>   
                        <div class="thumb-3">
                            <div class="video-box1">
                                <img src="assets/img/about/about_3.png" alt="img">
                                <a href="https://www.youtube.com/watch?v=P7fi4hP_y80" class="play-btn popup-video">
                                    <i class="fa-sharp fa-solid fa-play"></i>
                                </a>
                                <a class="video-content popup-video" href="https://www.youtube.com/watch?v=P7fi4hP_y80">WATCH THE VIDEO</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="title-area mb-0">
                        <h3 class="sub-title">ABOUT COMPANY</h3>
                        <h2 class="sec-title">Know About Best Repair Services.</h2>
                        <p class="sec-text">Credibly embrace premium best practices without accurate core competencies. Com pellingly brand one-to-one "outside the box" thinking via resource sucking application Dynamically predominate value-added quality vectors rather than</p>
                        <p class="sec-text">Professionally underwhelm high-quality core competencies through multifunctional portals. Monotonectally monetize installed base strategic theme areas and market-d.</p>
                        <div class="about-wrap-group">
                            <div class="about-card">
                                <div class="icon">
                                    <img src="assets/img/about/about-icon-1.svg" alt="img">
                                </div>
                                <h5 class="card-title">Equipped With All <br>
                                    Latest Tools</h5>
                            </div>
                            <div class="about-card">
                                <div class="icon">
                                    <img src="assets/img/about/about-icon-2.svg" alt="img">
                                </div>
                                <h5 class="card-title">We’re Available 7 <br> Days a Week</h5>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a class="as-btn" href="about.html">ABOUT MORE DETAILS</a>
                            <img class="ms-lg-5" src="assets/img/about/signeture.svg" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>