<!--==============================
    About Area 3 
==============================-->
<section class="about-area3 space-bottom space-extra-top">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-thumb-wrap3 mb-lg-0 mb-5">
                    <div class="shape-mockup jump" data-top="98px" data-left="-39px">
                        <img class="about-thumb-bg3" src="assets/img/about/about_shape3.png" alt="img">
                    </div>
                    <div class="thumb-1"><img src="assets/img/about/about_3_1.png" alt="img"></div>
                    <div class="thumb-2"><img src="assets/img/about/about_3_2.png" alt="img"></div>  
                    <div class="about-counter2" data-bg-src="assets/img/about/about_shape3-2.svg">
                        <h3 class="counter-title"><span class="counter-number">22</span></h3>
                        <span class="counter-text">YEARS <br>
                            EXPERIENCE</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="title-area about-wrap-3 mb-0">
                    <h3 class="sub-title">ABOUT OUR COMPANY</h3>
                    <h2 class="sec-title">About Dealaro Transport &
                        Logistic Solutions.</h2>
                    <p class="content">Quickly predominate cross functional outsourcing before enterprise-wide expertise. Enthusiastically architect bleeding-edge models whereas prospective web-readiness. Energistically disseminate quality benefits.</p>
                    <div class="about-grid-wrap as-carousel row" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="1">
                        <div class="col-lg-4">
                            <div class="about-grid-item">
                                <div class="icon">
                                    <img src="assets/img/about/about-icon-3-1.svg" alt="icon">
                                </div>
                                <h4 class="title h5">Transparent
                                    Pricing</h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about-grid-item">
                                <div class="icon">
                                    <img src="assets/img/about/about-icon-3-2.svg" alt="icon">
                                </div>
                                <h4 class="title h5">Real Time
                                    Tracking</h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about-grid-item">
                                <div class="icon">
                                    <img src="assets/img/about/about-icon-3-3.svg" alt="icon">
                                </div>
                                <h4 class="title h5">Warehoues
                                    Storage</h4>
                            </div>
                        </div>
                    </div>
                    <div class="about-btn-group">
                        <a class="as-btn mt-0" href="about.html">ABOUT MORE</a>
                        <div class="about-grid">
                            <div class="about-profile-thumb">
                                <img src="assets/img/about/about_profile.png" alt="icon">
                            </div>
                            <div class="media-body">
                                <img src="assets/img/about/signeture2.svg" alt="img">
                                <p class="about-profile-desig">CEO, Of Company</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>