<!--==============================
    Blog Area 2  
==============================-->
<section class="blog-area space" id="blog-sec">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span> NEWS & BLOG</span>
            <h2 class="sec-title">Latest News & Blogs</h2>
        </div>
        <div class="blog-slider row as-carousel" data-slide-show="2" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true">
            <div class="col-md-6">
                <div class="blog-card style2">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_3_1.png" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>12
                             <br>JUNE</p>
                        </div>
                        
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i> By Jacklis</a>
                            <a href="blog.html"><i class="far fa-comment"></i> Comments(0)</a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">Transhipment Yard For Overseas Cargo
                            Rerouting Routines Values</a>
                        </h3>
                        <p class="blog-text mb-30">Collaboratively generate flexible web service through go forward content. Completely coordinate value-added potentialities rather.</p>
                        <a href="blog-details.html" class="as-btn">Read More</a>
                    </div> 
                </div>
            </div>

            <div class="col-md-6">
                <div class="blog-card style2">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_3_2.png" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>05
                             <br>JULY</p>
                        </div>
                        
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i> By Jacklis</a>
                            <a href="blog.html"><i class="far fa-comment"></i> Comments(0)</a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">Trusted Logistics Partner and Mutual
                            Core Values Completely</a>
                        </h3>
                        <p class="blog-text mb-30">Collaboratively generate flexible web service through go forward content. Completely coordinate value-added potentialities rather.</p>
                        <a href="blog-details.html" class="as-btn">Read More</a>
                    </div> 
                </div>
            </div>

            <div class="col-md-6">
                <div class="blog-card style2">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_3_1.png" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>12
                             <br>JUNE</p>
                        </div>
                        
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i> By Jacklis</a>
                            <a href="blog.html"><i class="far fa-comment"></i> Comments(0)</a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">Transhipment Yard For Overseas Cargo
                            Rerouting Routines Values</a>
                        </h3>
                        <p class="blog-text mb-30">Collaboratively generate flexible web service through go forward content. Completely coordinate value-added potentialities rather.</p>
                        <a href="blog-details.html" class="as-btn">Read More</a>
                    </div> 
                </div>
            </div>

            <div class="col-md-6">
                <div class="blog-card style2">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_3_2.png" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>05
                             <br>JULY</p>
                        </div>
                        
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i> By Jacklis</a>
                            <a href="blog.html"><i class="far fa-comment"></i> Comments(0)</a>
                        </div>
                        <h3 class="blog-title"><a href="blog-details.html">Trusted Logistics Partner and Mutual
                            Core Values Completely</a>
                        </h3>
                        <p class="blog-text mb-30">Collaboratively generate flexible web service through go forward content. Completely coordinate value-added potentialities rather.</p>
                        <a href="blog-details.html" class="as-btn">Read More</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>