<!--==============================
    Blog Area
==============================-->
<section class="space">
    <div class="container">
        <div class="row gx-40">
            <div class="col-xl-8 col-lg-7">
                <div class="as-blog blog-single has-post-thumbnail">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog_s1_1.png" alt="Blog Image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>06
                            <br>SEP</p>
                       </div>
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By David Smith</a>
                            <a href="blog.html"><i class="far fa-comment"></i>Comments (0)</a>
                        </div>
                        <h2 class="blog-title"><a href="blog-details.html">Distributed throughout the all over country.</a></h2>
                        <p>Collaboratively pontificate bleeding edge is resources with inexpensive methodologies. Globally initiate multidisciplinary compatible architectures. Rapidiously repurpose leading edge growth strategies with just in time web readiness communicate timely meta services for synergistic initiatives</p>
                        <a href="blog-details.html" class="as-btn style4">Read Details</a>
                    </div>
                </div>

                <div class="as-blog blog-single has-post-thumbnail">
                    <div class="blog-img as-carousel" data-arrows="true" data-slide-show="1">
                        <a href="blog-details.html"><img src="assets/img/blog/blog_s1_2.png" alt="Blog Image"></a>
                        <a href="blog-details.html"><img src="assets/img/blog/blog_s1_2.png" alt="Blog Image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>15
                            <br>MAR</p>
                       </div>
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By David Smith</a>
                            <a href="blog.html"><i class="far fa-comment"></i>Comments (0)</a>
                        </div>
                        <h2 class="blog-title"><a href="blog-details.html">How to use a Dealer Swap to Increase Sales</a></h2>
                        <p>Collaboratively pontificate bleeding edge is resources with inexpensive methodologies. Globally initiate multidisciplinary compatible architectures. Rapidiously repurpose leading edge growth strategies with just in time web readiness communicate timely meta services for synergistic initiatives</p>
                        <a href="blog-details.html" class="as-btn style4">Read Details</a>
                    </div>
                </div>

                <div class="as-blog blog-single">
                    <div class="blog-content">
                        <div class="date"><p>06
                            <br>SEP</p>
                       </div>
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By David Smith</a>
                            <a href="blog.html"><i class="far fa-comment"></i>Comments (0)</a>
                        </div>
                        <h2 class="blog-title"><a href="blog-details.html">How Close are we to Autonomous Cars?</a></h2>
                        <p>Collaboratively pontificate bleeding edge is resources with inexpensive methodologies. Globally initiate multidisciplinary compatible architectures. Rapidiously repurpose leading edge growth strategies with just in time web readiness</p>
                        <a href="blog-details.html" class="as-btn style4">Read Details</a>
                    </div>
                </div>

                <div class="as-blog blog-single has-post-thumbnail">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/blog_s1_3.png" alt="Blog Image"></a>
                        <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>06
                            <br>SEP</p>
                       </div>
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By David Smith</a>
                            <a href="blog.html"><i class="far fa-comment"></i>Comments (0)</a>
                        </div>
                        <h2 class="blog-title"><a href="blog-details.html">Are You Ready for the Online Dealership?</a></h2>
                        <p>Collaboratively pontificate bleeding edge is resources with inexpensive methodologies. Globally initiate multidisciplinary compatible architectures. Rapidiously repurpose leading edge growth strategies with just in time web readiness communicate timely meta services for synergistic initiatives</p>
                        <a href="blog-details.html" class="as-btn style4">Read Details</a>
                    </div>
                </div>

                <div class="as-blog blog-single has-post-thumbnail">
                    <div class="blog-audio">
                        <iframe title="Tell Me U Luv Me (with Trippie Redd) by Juice WRLD" width="751" height="200" src="https://w.soundcloud.com/player/?visual=true&amp;url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F830279092&amp;show_artwork=true&amp;maxwidth=751&amp;maxheight=1000&amp;dnt=1"></iframe>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i>By David Smith</a>
                            <a href="blog.html"><i class="far fa-comment"></i>Comments (0)</a>
                        </div>
                        <h2 class="blog-title"><a href="blog-details.html">Give Your Small Car the Horn It Deserves</a></h2>
                        <p>Collaboratively pontificate bleeding edge is resources with inexpensive methodologies. Globally initiate multidisciplinary compatible architectures. Rapidiously repurpose leading edge growth strategies with just in time web readiness communicate timely meta services for synergistic initiatives</p>
                        <a href="blog-details.html" class="as-btn style4">Read Details</a>
                    </div>
                </div>

                <div class="as-pagination theme-red">
                    <ul>
                        <li><a href="blog.html"><i class="far fa-arrow-left"></i></a></li>
                        <li><a href="blog.html">01</a></li>
                        <li><a href="blog.html">02</a></li>
                        <li><a href="blog.html">03</a></li>
                        <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <aside class="sidebar-area theme-red">
                    <div class="widget widget_search">
                        <form class="search-form">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><i class="far fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget_title">Categories</h3>
                        <ul>
                            <li>
                                <a href="blog.html">Automotive Repairing</a>
                            </li>
                            <li>
                                <a href="blog.html">Car Dealership</a>
                            </li>
                            <li>
                                <a href="blog.html">Motor Dealership</a>
                            </li>
                            <li>
                                <a href="blog.html">Break Repair</a>
                            </li>
                            <li>
                                <a href="blog.html">Battery Charge</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget_title">Recent Posts</h3>
                        <div class="recent-post-wrap">
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-1.png" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-alt"></i>20 March, 2023</a>
                                    </div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Why you ignore your warning lights</a></h4>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-2.png" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-alt"></i>20 March, 2023</a>
                                    </div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Here are 5 things every car owner needs</a></h4>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html"><img src="assets/img/blog/recent-post-1-3.png" alt="Blog Image"></a>
                                </div>
                                <div class="media-body">
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-alt"></i>20 March, 2023</a>
                                    </div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Best Quality Car Repair Solution In 2022</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="widget_title">Gallery</h4>
                        <div class="sidebar-gallery">
                            <div class="gallery-thumb">
                                <img src="assets/img/widget/gal-1-1.png" alt="Gallery Image" class="w-100">
                            </div>
                            <div class="gallery-thumb">
                                <img src="assets/img/widget/gal-1-2.png" alt="Gallery Image" class="w-100">
                            </div>
                            <div class="gallery-thumb">
                                <img src="assets/img/widget/gal-1-3.png" alt="Gallery Image" class="w-100">
                            </div>
                            <div class="gallery-thumb">
                                <img src="assets/img/widget/gal-1-4.png" alt="Gallery Image" class="w-100">
                            </div>
                            <div class="gallery-thumb">
                                <img src="assets/img/widget/gal-1-5.png" alt="Gallery Image" class="w-100">
                            </div>
                            <div class="gallery-thumb">
                                <img src="assets/img/widget/gal-1-6.png" alt="Gallery Image" class="w-100">
                            </div>
                        </div>
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h3 class="widget_title">Popular Tags</h3>
                        <div class="tagcloud">
                            <a href="blog.html">Technology</a>
                            <a href="blog.html">Repair</a>
                            <a href="blog.html">Services</a>
                            <a href="blog.html">Dealaro</a>
                            <a href="blog.html">Engine</a>
                            <a href="blog.html">Tires</a>
                            <a href="blog.html">Speed</a>
                            <a href="blog.html">Solution</a>
                            <a href="blog.html">Car Repair</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>