<!--==============================
    Blog Area  
==============================-->
<section class="blog-area space-bottom" id="blog-sec" data-bg-src="assets/img/bg/blog_bg_1.png">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span> Blog & News</span>
            <h2 class="sec-title">Latest News & Blogs</h2>
        </div>
        <div class="blog-slider row as-carousel" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true">
            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_1_1.png" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>12
                             <br>MAR</p>
                        </div>
                        
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i> By Jacklis</a>
                            <a href="blog.html"><i class="far fa-comment"></i> Comments(0)</a>
                        </div>
                        <h3 class="blog-title box-title"><a href="blog-details.html">Distributed throughout the all
                            over country.</a>
                        </h3>
                        <p class="blog-text">Progressive conceptualize 2.0 potential Through parallel customer service.</p>
                        <a href="blog-details.html" class="line-btn">Read More</a>
                    </div> 
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_1_2.png" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>05
                             <br>JUL</p>
                        </div>
                        
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i> By Michel</a>
                            <a href="blog.html"><i class="far fa-comment"></i> Comments(0)</a>
                        </div>
                        <h3 class="blog-title box-title"><a href="blog-details.html">How to use a Dealer Swap to
                            Increase Sales</a>
                        </h3>
                        <p class="blog-text">Dealer Accumsan tincidunt. Vestibul ante ipsum primis in faucibus orci luctus.</p>
                        <a href="blog-details.html" class="line-btn">Read More</a>
                    </div> 
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_1_3.png" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>06
                             <br>SEP</p>
                        </div>
                        
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i> By Jacklis</a>
                            <a href="blog.html"><i class="far fa-comment"></i> Comments(0)</a>
                        </div>
                        <h3 class="blog-title box-title"><a href="blog-details.html">Sixteen tips for fix and repairs
                            for starting problem</a>
                        </h3>
                        <p class="blog-text">Pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Proin risus.</p>
                        <a href="blog-details.html" class="line-btn">Read More</a>
                    </div> 
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_1_1.png" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>12
                             <br>JUN</p>
                        </div>
                        
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i> By Jacklis</a>
                            <a href="blog.html"><i class="far fa-comment"></i> Comments(0)</a>
                        </div>
                        <h3 class="blog-title box-title"><a href="blog-details.html">Distributed throughout the all
                            over country.</a>
                        </h3>
                        <p class="blog-text">Progressive conceptualize 2.0 potential Through parallel customer service.</p>
                        <a href="blog-details.html" class="line-btn">Read More</a>
                    </div> 
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_1_2.png" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>05
                             <br>JAN</p>
                        </div>
                        
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i> By Michel</a>
                            <a href="blog.html"><i class="far fa-comment"></i> Comments(0)</a>
                        </div>
                        <h3 class="blog-title box-title"><a href="blog-details.html">How to use a Dealer Swap to
                            Increase Sales</a>
                        </h3>
                        <p class="blog-text">Dealer Accumsan tincidunt. Vestibul ante ipsum primis in faucibus orci luctus.</p>
                        <a href="blog-details.html" class="line-btn">Read More</a>
                    </div> 
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="blog-card">
                    <div class="blog-img">
                        <img src="assets/img/blog/blog_1_3.png" alt="blog image">
                    </div>
                    <div class="blog-content">
                        <div class="date"><p>06
                             <br>AUG</p>
                        </div>
                        
                        <div class="blog-meta">
                            <a href="blog.html"><i class="far fa-user"></i> By Jacklis</a>
                            <a href="blog.html"><i class="far fa-comment"></i> Comments(0)</a>
                        </div>
                        <h3 class="blog-title box-title"><a href="blog-details.html">Sixteen tips for fix and repairs
                            for starting problem</a>
                        </h3>
                        <p class="blog-text">Pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Proin risus.</p>
                        <a href="blog-details.html" class="line-btn">Read More</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>