<!--==============================
    Category Area 
==============================-->
<section class="category-area space" style="background-attachment: fixed;" data-bg-src="assets/img/bg/category_bg.png" data-overlay="title" data-opacity="7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title-area text-center">
                    <h3 class="sub-title"><span class="double-line"></span> CAR CATEGORY</h3>
                    <h2 class="sec-title text-white">Browse By Car Type</h2>
                </div>
            </div>
        </div>
        <div class="category-slider row as-carousel" data-slide-show="6" data-lg-slide-show="5" data-md-slide-show="4" data-sm-slide-show="3" data-xs-slide-show="2" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true">
            <div class="col-auto">
                <div class="cat-wrap">
                    <div class="thumb">
                        <img src="assets/img/category/category_1.png" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a href="shop.html">Convertible <span class="text-theme">(10)</span></a>
                    </h4> 
                </div>
            </div>

            <div class="col-auto">
                <div class="cat-wrap">
                    <div class="thumb">
                        <img src="assets/img/category/category_2.png" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a href="shop.html">Electric <span class="text-theme">(10)</span></a>
                    </h4> 
                </div>
            </div>

            <div class="col-auto">
                <div class="cat-wrap">
                    <div class="thumb">
                        <img src="assets/img/category/category_3.png" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a href="shop.html">Luxury <span class="text-theme">(10)</span></a>
                    </h4> 
                </div>
            </div>


            <div class="col-auto">
                <div class="cat-wrap">
                    <div class="thumb">
                        <img src="assets/img/category/category_4.png" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a href="shop.html">Hybrid <span class="text-theme">(10)</span></a>
                    </h4> 
                </div>
            </div>

            <div class="col-auto">
                <div class="cat-wrap">
                    <div class="thumb">
                        <img src="assets/img/category/category_5.png" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a href="shop.html">SUV <span class="text-theme">(10)</span></a>
                    </h4> 
                </div>
            </div>

            <div class="col-auto">
                <div class="cat-wrap">
                    <div class="thumb">
                        <img src="assets/img/category/category_6.png" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a href="shop.html">Sports <span class="text-theme">(10)</span></a>
                    </h4> 
                </div>
            </div>

            <div class="col-auto">
                <div class="cat-wrap">
                    <div class="thumb">
                        <img src="assets/img/category/category_1.png" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a href="shop.html">Convertible <span class="text-theme">(10)</span></a>
                    </h4> 
                </div>
            </div>

            <div class="col-auto">
                <div class="cat-wrap">
                    <div class="thumb">
                        <img src="assets/img/category/category_2.png" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a href="shop.html">Electric <span class="text-theme">(10)</span></a>
                    </h4> 
                </div>
            </div>

            <div class="col-auto">
                <div class="cat-wrap">
                    <div class="thumb">
                        <img src="assets/img/category/category_3.png" alt="image">
                    </div>
                    <h4 class="cat-content h5">
                        <a href="shop.html">Luxury <span class="text-theme">(10)</span></a>
                    </h4> 
                </div>
            </div>
        </div>
    </div>
</section>