<!--==============================
    Brand Area  
==============================-->
<div class="client-sec2 space-bottom">
    <div class="container">
        <div class="row as-carousel" id="brandSlide1" data-slide-show="6" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="false">
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_1.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_2.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_3.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_4.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_5.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_6.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_1.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_2.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_3.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_4.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_5.png" alt="Client Logo"></a>
            </div>
            <div class="col-auto">
                <a href="#"><img src="assets/img/client/client_2_6.png" alt="Client Logo"></a>
            </div>
            
        </div>    
    </div>
</div>