<!--==============================
Service Area  
==============================-->
<section class="space">
    <div class="container">
        <div class="row gy-30 justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="contact-box">
                    <div class="contact-box_icon">
                        <i class="fa fa-location-dot"></i>
                    </div>
                    <div class="contact-box_info">
                        <h4 class="contact-box_title">Our Office Address</h4>
                        <p class="contact-box_text">835 Middle Country Rd, Selden, NY 11784,
                            United States</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="contact-box">
                    <div class="contact-box_icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="contact-box_info">
                        <h4 class="contact-box_title">Call Us Anytime</h4>
                        <a href="mailto:help24/7@gmail.com" class="contact-box_link">help24/7@gmail.com</a>
                        <a href="tel:(+163)-1202-0088" class="contact-box_link">(+163)-1202-0088</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="contact-box">
                    <div class="contact-box_icon">
                        <i class="fa fa-clock"></i>
                    </div>
                    <div class="contact-box_info">
                        <h4 class="contact-box_title">Official Work Time</h4>
                        <p class="contact-box_text">9:00am - 6:00pm ( Monday - Friday )</p>
                        <p class="contact-box_text">Saturday & Sunday Closed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('contact-form2.html')

<!--==============================
Appointment Area  
==============================-->
<div class="map-sec">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7310056272386!2d89.2286059153658!3d24.00527418490799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe9b97badc6151%3A0x30b048c9fb2129bc!2sAngfuzsoft!5e0!3m2!1sen!2sbd!4v1651028958211!5m2!1sen!2sbd" allowfullscreen="" loading="lazy"></iframe>
</div>