<!--==============================
    Contact Area  
==============================-->
<div class="contact-area space-bottom">
    <div class="contact-anime-img-1 shape-mockup moving d-none d-lg-block" style="right: 0px; bottom: 10%;"><img src="assets/img/normal/truck.png" alt="img"></div>

    <div class="container">
        <div class="contact-tab filter-menu-active indicator-active">
            <button data-filter=".cat1" class="active" type="button"><img src="assets/img/icon/contact-tab-1.svg" alt=""> REQUEST A QUOTE</button>
            <button data-filter=".cat2" type="button"><img src="assets/img/icon/contact-tab-2.svg" alt="">TRACK & TRACE</button>
        </div>
        <div class="contact-box-form filter-active-cat1">
            <div class="filter-item w-100 cat1">
                <div class="row">
                    <div class="col-lg-8">
                        <form action="mail.php" method="POST" class="quote-form ajax-contact">
                            <h6 class="form-title">Personal Information :</h6>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="tel" class="form-control" name="number" id="number" placeholder="Phone Number">
                                </div>
                            </div>
                            <h6 class="form-title mt-3">Shipment Information :</h6>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <select name="subject" id="subject1" class="form-select style2">
                                        <option value="" disabled="" selected="" hidden="">Freight Type</option>
                                        <option value="Web Development">Web Development</option>
                                        <option value="Brand Marketing">Brand Marketing</option>
                                        <option value="UI/UX Designing">UI/UX Designing</option>
                                        <option value="Digital Marketing">Digital Marketing</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="text" class="form-control" name="city" id="city1" placeholder="City of Departure">
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="text" class="form-control" name="city" id="city2" placeholder="Delivery City">
                                </div>
                                <div class="form-group col-lg-4">
                                    <select name="subject" id="subject2" class="form-select style2">
                                        <option value="" disabled="" selected="" hidden="">Incotems</option>
                                        <option value="Web Development">Web Development</option>
                                        <option value="Brand Marketing">Brand Marketing</option>
                                        <option value="UI/UX Designing">UI/UX Designing</option>
                                        <option value="Digital Marketing">Digital Marketing</option>
                                    </select>
                                </div>
                                <div class="form-group col-xl-2 col-lg-4 col-md-6">
                                    <input type="number" class="form-control" name="weight" id="weight1" placeholder="Weight">
                                </div>
                                <div class="form-group col-xl-2 col-lg-4 col-md-6">
                                    <input type="number" class="form-control" name="height" id="height1" placeholder="Height">
                                </div>
                                <div class="form-group col-xl-2 col-lg-4 col-md-6">
                                    <input type="number" class="form-control" name="weight" id="weight" placeholder="Weight">
                                </div>
                                <div class="form-group col-xl-2 col-lg-4 col-md-6">
                                    <input type="number" class="form-control" name="height" id="height" placeholder="Height">
                                </div>
                                <ul class="form-check-list col-12">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="formcheck1" checked>
                                            <label class="form-check-label" for="formcheck1">
                                                Freight
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="formcheck2">
                                            <label class="form-check-label" for="formcheck2">
                                                Packaging
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="formcheck3">
                                            <label class="form-check-label" for="formcheck3">
                                                Express Delivery
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="formcheck4">
                                            <label class="form-check-label" for="formcheck4">
                                                Road Freight
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="formcheck5">
                                            <label class="form-check-label" for="formcheck5">
                                                Air Freight
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <div class="form-btn col-12">
                                    <button class="as-btn btn-fw">REQUEST A QUOTE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-box-wrap bg-theme">
                            <h3 class="text-white">Take Your Career to
                                Next Level</h3>
                            <p class="text-white mb-0">Dynamically conceptualize optimal e-services wherea premier intellectual capital. Authoritatively restore.</p>
                            <a class="as-btn style-white" href="contact.html">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-item w-100 cat2">
                <div class="row">
                    <div class="col-lg-8">
                        <form action="mail.php" method="POST" class="quote-form ajax-contact">
                            <h6 class="form-title">Personal Information :</h6>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <input type="text" class="form-control" name="name" id="name2" placeholder="Your Name">
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="email" class="form-control" name="email" id="email2" placeholder="Your Email">
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="tel" class="form-control" name="number" id="number2" placeholder="Phone Number">
                                </div>
                            </div>
                            <h6 class="form-title mt-3">Shipment Information :</h6>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <select name="subject" id="subject3" class="form-select style2">
                                        <option value="" disabled="" selected="" hidden="">Freight Type</option>
                                        <option value="Web Development">Web Development</option>
                                        <option value="Brand Marketing">Brand Marketing</option>
                                        <option value="UI/UX Designing">UI/UX Designing</option>
                                        <option value="Digital Marketing">Digital Marketing</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="text" class="form-control" name="city" id="city3" placeholder="City of Departure">
                                </div>
                                <div class="form-group col-lg-4">
                                    <input type="text" class="form-control" name="city" id="city4" placeholder="Delivery City">
                                </div>
                                <div class="form-group col-lg-4">
                                    <select name="subject" id="subject4" class="form-select style2">
                                        <option value="" disabled="" selected="" hidden="">Incotems</option>
                                        <option value="Web Development">Web Development</option>
                                        <option value="Brand Marketing">Brand Marketing</option>
                                        <option value="UI/UX Designing">UI/UX Designing</option>
                                        <option value="Digital Marketing">Digital Marketing</option>
                                    </select>
                                </div>
                                <div class="form-group col-xl-2 col-lg-4 col-md-6">
                                    <input type="number" class="form-control" name="weight" id="weight3" placeholder="Weight">
                                </div>
                                <div class="form-group col-xl-2 col-lg-4 col-md-6">
                                    <input type="number" class="form-control" name="height" id="height3" placeholder="Height">
                                </div>
                                <div class="form-group col-xl-2 col-lg-4 col-md-6">
                                    <input type="number" class="form-control" name="weight" id="weight4" placeholder="Weight">
                                </div>
                                <div class="form-group col-xl-2 col-lg-4 col-md-6">
                                    <input type="number" class="form-control" name="height" id="height4" placeholder="Height">
                                </div>
                                <ul class="form-check-list col-12">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="formcheck6" checked>
                                            <label class="form-check-label" for="formcheck6">
                                                Freight
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="formcheck7">
                                            <label class="form-check-label" for="formcheck7">
                                                Packaging
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="formcheck8">
                                            <label class="form-check-label" for="formcheck8">
                                                Express Delivery
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="formcheck9">
                                            <label class="form-check-label" for="formcheck9">
                                                Road Freight
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="formcheck10">
                                            <label class="form-check-label" for="formcheck10">
                                                Air Freight
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                                <div class="form-btn col-12">
                                    <button class="as-btn btn-fw">REQUEST A QUOTE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-box-wrap bg-theme">
                            <h3 class="text-white">Take Your Career to
                                Next Level</h3>
                            <p class="text-white mb-0">Dynamically conceptualize optimal e-services wherea premier intellectual capital. Authoritatively restore.</p>
                            <a class="as-btn style-white" href="contact.html">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>