<!--==============================
    Counter Area 03 
==============================-->
<div class="container space-top pt-xl-0 pb-xl-0">
    <div class="counter-area3 text-center" data-bg-src="assets/img/bg/counter_bg.png">
        <div class="row gy-25 justify-content-center">
            <div class="col-sm-6 col-xl-3">
                <div class="counter-card2 counter-card3">
                    <div class="counter-card_icon">
                        <img src="assets/img/counter/counter_icon_3_1.svg" alt="img">
                    </div>
                    <div class="card-details">
                        <h2 class="counter-card_number"><span class="counter-number">27600</span>+</h2>
                        <p class="counter-card_text">COMPLETE DELIVERY</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="counter-card2 counter-card3">
                    <div class="counter-card_icon">
                        <img src="assets/img/counter/counter_icon_3_2.svg" alt="img">
                    </div>
                    <div class="card-details">
                        <h2 class="counter-card_number"><span class="counter-number">1600</span>+</h2>
                        <p class="counter-card_text">TEAM MEMBERS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="counter-card2 counter-card3">
                    <div class="counter-card_icon">
                        <img src="assets/img/counter/counter_icon_3_3.svg" alt="img">
                    </div>
                    <div class="card-details">
                        <h2 class="counter-card_number"><span class="counter-number">25600</span>+</h2>
                        <p class="counter-card_text">HAPPY CUSTOMER</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="counter-card2 counter-card3">
                    <div class="counter-card_icon">
                        <img src="assets/img/counter/counter_icon_3_4.svg" alt="img">
                    </div>
                    <div class="card-details">
                        <h2 class="counter-card_number"><span class="counter-number">18600</span>+</h2>
                        <p class="counter-card_text">AWARDS WINNER</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>