<!--==============================
    Download app Area  
==============================-->
<div class="space-bottom">
    <div class="container-fluid p-0">
        <div class="download-app-area space" data-bg-src="assets/img/bg/download-app-bg.png">
            <div class="row">
                <div class="col-xl-5 col-lg-7">
                    <div class="download-app-wrap theme-red">
                        <div class="title-area mb-0 text-lg-start text-center">
                            <span class="sub-title"><span class="double-line d-lg-none"></span>DOWNLOAD Dealaro APP NOW</span>
                            <h2 class="sec-title text-white">Get A Free Autora App From
                                Online Store</h2>
                            <p class="content">Competently re-engineer cross-media meta-services whereas best of breed processes matrix just in time content...</p>
                            <div class="btn-group">
                                <a href="contact.html" class="as-btn media" tabindex="0">
                                    <div class="icon">
                                        <i class="fa-brands fa-google-play"></i>
                                    </div>
                                    <div class="media-body">
                                        <span>DOWNLOAD FROM</span>
                                        <h6>Google Play</h6>
                                    </div>
                                </a>
                                <a href="contact.html" class="as-btn media" tabindex="0">
                                    <div class="icon"><i class="fa-brands fa-apple"></i></div>
                                    <div class="media-body">
                                        <span>DOWNLOAD FROM</span>
                                        <h6>App Store</h6>
                                    </div>
                                </a>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
