<!--==============================
    Faq Area  
==============================-->
<section class="faq-area space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2 mb-5 mb-lg-0">
                <div class="faq-thumb text-lg-end"><img src="assets/img/normal/faq-thumb.png" alt="img"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="title-area">
                    <span class="sub-title">FAQ’S</span>
                    <h2 class="sec-title">Frequently Asked Any
                        Question?</h2>
                    <p class="content">Proactively synergize diverse e-commerce whereas corporate relationships. Credibly drive focused interfaces before error-free solutions. Objectively brand end-to-end.</p>
                </div>
                <div class="accordion-area accordion" id="faqAccordion">

                    <div class="accordion-card active">
                        <div class="accordion-header" id="collapse-item-1">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1"> Is it Full Transport & Logistics Company?</button>
                        </div>
                        <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Uniquely empower backend resources vis-a-vis 24/365 testing procedures. Holisticly myocardinate accurate networks through end-to-end process improvements. Proactively grow timely.</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2"> How to Create my Project in Company?</button>
                        </div>
                        <div id="collapse-2" class="accordion-collapse collapse " aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Professionally disseminate highly efficient human capital through optimal technology. Distinctively enhance tactical data and innovative content human capital.</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3"> How to Work in Process of Transport Company?</button>
                        </div>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Uniquely empower backend resources vis-a-vis 24/365 testing procedures. Holisticly myocardinate accurate networks through end-to-end process improvements. Proactively grow timely.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>