<!--==============================
    Hero Area
==============================-->
<div class="as-hero-wrapper hero-1" id="hero">
    <div class="hero-slider-1 number-dots as-carousel" id="heroSlide1" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="true" data-xl-dots="true" data-ml-dots="true" data-lg-dots="true">

        <div class="as-hero-slide">
            <div class="as-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_1.png"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="hero-style1">
                            <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">
                                AUTOMOTIVE CAR REPAIR
                            </span>
                            <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.2s">Where Expertise Meets Engines</h1>
                            <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.3s">Dramatically scale backward-compatible portals after market positioning deliverables. Assertively predominate collaborative partnerships rather.</p>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                                <a href="contact.html" class="as-btn style2">VIEW MORE DETAILS</a>
                                <a href="service.html" class="as-btn style3">OUR SERVICES</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <div class="as-hero-slide">
            <div class="as-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_2.png"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="hero-style1">
                            <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">
                                AUTOMOTIVE CAR REPAIR
                            </span>
                            <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.2s">We're Repair Car
                                Hustle Free.</h1>
                            <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.3s">Dramatically scale backward-compatible portals after market positioning deliverables. Assertively predominate collaborative partnerships rather.</p>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                                <a href="contact.html" class="as-btn style2">VIEW MORE DETAILS</a>
                                <a href="service.html" class="as-btn style3">OUR SERVICES</a>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>

        <div class="as-hero-slide">
            <div class="as-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_3.png"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="hero-style1">
                            <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">
                                AUTOMOTIVE CAR REPAIR
                            </span>
                            <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.2s">Bringing Life Back to Drive</h1>
                            <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.3s">Dramatically scale backward-compatible portals after market positioning deliverables. Assertively predominate collaborative partnerships rather.</p>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                                <a href="contact.html" class="as-btn style2">VIEW MORE DETAILS</a>
                                <a href="service.html" class="as-btn style3">OUR SERVICES</a>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>
<!--======== / Hero Section ========-->