<!--==============================
    Hero Area 03
==============================-->
<div class="as-hero-wrapper hero-3" id="hero">
    <div class="as-carousel hero-slider-3" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="false" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true" data-adaptive-height="true">

        <div class="as-hero-slide">
            <div class="as-hero-bg" data-bg-src="assets/img/hero/hero_bg_3_1.png"></div>
            <div class="watermark">DEALARO</div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-10">
                        <div class="hero-style3">
                            <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">ACCELERATED SOLUTION</span>
                            <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.2s">Beyond Shipment, We Deliver Solutions</h1>
                            <p class="hero-text text-white" data-ani="slideinleft" data-ani-delay="0.3s">Energistically monetize visionary channels vis-a-vis holistic best practices. Professionally
                                disseminate inexpensive supply chains for distinctive growth strategies.</p>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                                <a href="service.html" class="as-btn style2">OUR SERVICES</a>
                                <a href="https://www.youtube.com/watch?v=P7fi4hP_y80" class="play-btn popup-video">
                                    <i class="fa-sharp fa-solid fa-play"></i>How it work
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <div class="as-hero-slide">
            <div class="as-hero-bg" data-bg-src="assets/img/hero/hero_bg_3_2.png"></div>
            <div class="watermark">DEALARO</div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-10">
                        <div class="hero-style3">
                            <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">ACCELERATED SOLUTION
                            </span>
                            <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.2s">Precision Logistics, Timely Results</h1>
                            <p class="hero-text text-white" data-ani="slideinleft" data-ani-delay="0.3s">Energistically monetize visionary channels vis-a-vis holistic best practices. Professionally
                                disseminate inexpensive supply chains for distinctive growth strategies.</p>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                                <a href="service.html" class="as-btn style2">OUR SERVICES</a>
                                <a href="https://www.youtube.com/watch?v=P7fi4hP_y80" class="play-btn popup-video">
                                    <i class="fa-sharp fa-solid fa-play"></i>How it work
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <div class="as-hero-slide">
            <div class="as-hero-bg" data-bg-src="assets/img/hero/hero_bg_3_3.png"></div>
            <div class="watermark">DEALARO</div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-10">
                        <div class="hero-style3">
                            <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">ACCELERATED SOLUTION
                            </span>
                            <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.2s">Streamlining Global Movement With Care</h1>
                            <p class="hero-text text-white" data-ani="slideinleft" data-ani-delay="0.3s">Energistically monetize visionary channels vis-a-vis holistic best practices. Professionally
                                disseminate inexpensive supply chains for distinctive growth strategies.</p>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                                <a href="service.html" class="as-btn style2">OUR SERVICES</a>
                                <a href="https://www.youtube.com/watch?v=P7fi4hP_y80" class="play-btn popup-video">
                                    <i class="fa-sharp fa-solid fa-play"></i>How it work
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>

    </div>  
</div>
<!--======== / Hero Section ========-->
