<!--==============================
    Hero Area 04
==============================-->
<div class="hero-4" id="hero" data-bg-src="assets/img/hero/hero_bg_4_1.png">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="side-category-bar">
                    <h6 class="side-category_title"><i class="far fa-bars"></i> BROWSE CATEGORIES</h6>
                    <ul class="side-cat-list">
                        <li><a href="service.html"><img src="assets/img/icon/cat-icon-1.svg" alt="icon"> BODY PARTS</a></li>
                        <li><a href="service.html"><img src="assets/img/icon/cat-icon-2.svg" alt="icon"> BRAKE PARTS</a></li>
                        <li><a href="service.html"><img src="assets/img/icon/cat-icon-3.svg" alt="icon"> CAR ENGINE PARTS</a></li>
                        <li><a href="service.html"><img src="assets/img/icon/cat-icon-4.svg" alt="icon"> OILS & FLUIDS</a></li>
                        <li><a href="service.html"><img src="assets/img/icon/cat-icon-5.svg" alt="icon"> CAR ACCESSORIES</a></li>
                        <li><a href="service.html"><img src="assets/img/icon/cat-icon-6.svg" alt="icon"> WHEELS & TIRES</a></li>
                        <li><a href="service.html"><img src="assets/img/icon/cat-icon-7.svg" alt="icon"> CAR LIGHTS</a></li>
                        <li><a href="service.html"><img src="assets/img/icon/cat-icon-8.svg" alt="icon"> NAVIGATION DEVICES</a></li>
                        <li><a href="service.html"><img src="assets/img/icon/cat-icon-9.svg" alt="icon"> VEHICLE ELECTRONICS</a></li>
                        <li><a href="service.html"><img src="assets/img/icon/cat-icon-10.svg" alt="icon"> MORE CATEGORIES</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="hero-slider-4">
                    <div class="as-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="false">
            
                        <div class="as-hero-slide">
                            <div class="row g-0">
                                <div class="col-lg-9">
                                    <div class="hero-style4">
                                        <span class="hero-subtitle">
                                            Automotive Parts & Accessories 
                                        </span>
                                        <h1 class="hero-title">NEW SET OF HIGH-END AUTO PARTS</h1>
                                        <p>Phosfluorescently customize interoperable applications rather than holistic web-readiness. Quickly leverage.</p>
                                        <div class="btn-group">
                                            <a href="contact.html" class="as-btn">SHOP NOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="hero-thumb">
                                        <img src="assets/img/hero/hero_thumb_4_1.png" alt="img">
                                    </div>
                                </div>
                            </div>  
                        </div>
                
                        <div class="as-hero-slide">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-5 col-lg-7 col-md-10">
                                        <div class="hero-style2">
                                            <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">
                                                ULTIMATE HORSE
                                            </span>
                                            <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.3s">PURCHASE THE BEST CAR FOR YOUR <span class="text-theme">LUXURY</span></h1>
                                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.5s">
                                                <a href="contact.html" class="as-btn style5">EXPLORE MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                
                            </div>
                        </div>
                
                        <div class="as-hero-slide">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-5 col-lg-7 col-md-10">
                                        <div class="hero-style2">
                                            <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">
                                                ULTIMATE HORSE
                                            </span>
                                            <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.3s">PURCHASE THE BEST CAR FOR YOUR <span class="text-theme">LUXURY</span></h1>
                                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.5s">
                                                <a href="contact.html" class="as-btn style5">EXPLORE MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>                
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>      
</div>
<!--======== / Hero Section ========-->