<!--==============================
    Offer Area 
==============================-->
<section class="offer-area as-carousel offer-slider" data-fade="true" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1" data-xs-slide-show="1" data-dots="true" data-xl-dots="true" data-ml-dots="true">
    <div class="offer-slider-wrap space" data-bg-src="assets/img/bg/offer_bg.png">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-6 order-lg-2">
                    <div class="offer-thumb" data-ani="slideinright" data-ani-delay="0.1s">
                        <span class="offer-tag">Save Up To <br>
                            25% OFF</span>
                        <img src="assets/img/offer/offer_1.png" alt="img">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 order-lg-1">
                    <div class="title-area">
                        <span class="sub-title">SPECIAL OFFER</span>
                        <h2 class="sec-title text-white">Special Offer For You</h2>
                        <p class="sec-text text-white">Uniquely reintermediate distinctive niche market wherea interoperable infomediarie. Completely negotiate.</p>
                    </div>
                    <div class="special-offer-wrap">
                        <h3 class="title">Audi A8 4-door sedan Red</h3>
                        <p class="content">Get the Porsche You always Wanted</p>
                        <h4 class="price"> <span class="text-theme me-2">$174.000</span> -  $200.000 <span class="tag">LIMITED TIME OFFER!</span></h4>
                        <a class="as-btn style5" href="cart.html">BUY NOW</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="offer-slider-wrap space" data-bg-src="assets/img/bg/offer_bg-2.png">
        <div class="container">
            <div class="row">                
                <div class="col-xl-7 col-lg-6 order-lg-2">
                    <div class="offer-thumb" data-ani="slideinright" data-ani-delay="0.1s">
                        <span class="offer-tag">Save Up To <br>
                            15% OFF</span>
                        <img src="assets/img/offer/offer_2.png" alt="img">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 order-lg-1">
                    <div class="title-area">
                        <span class="sub-title">SPECIAL OFFER</span>
                        <h2 class="sec-title text-white">Exclusive Deal for You</h2>
                        <p class="sec-text text-white">Uniquely reintermediate distinctive niche market wherea interoperable infomediarie. Completely negotiate.</p>
                    </div>
                    <div class="special-offer-wrap">
                        <h3 class="title">Audi A4 1.8 TFSI</h3>
                        <p class="content">Get the Porsche You always Wanted</p>
                        <h4 class="price"> <span class="text-theme me-2">$274.000</span> -  $300.000 <span class="tag">LIMITED TIME OFFER!</span></h4>
                        <a class="as-btn style5" href="cart.html">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offer-slider-wrap space" data-bg-src="assets/img/bg/offer_bg-3.png">
        <div class="container">
            <div class="row">                
                <div class="col-xl-7 col-lg-6 order-lg-2">
                    <div class="offer-thumb" data-ani="slideinright" data-ani-delay="0.1s">
                        <span class="offer-tag">Save Up To <br>
                            12% OFF</span>
                        <img src="assets/img/offer/offer_3.png" alt="img">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 order-lg-1">
                    <div class="title-area">
                        <span class="sub-title">SPECIAL OFFER</span>
                        <h2 class="sec-title text-white">Special Offer For You</h2>
                        <p class="sec-text text-white">Uniquely reintermediate distinctive niche market wherea interoperable infomediarie. Completely negotiate.</p>
                    </div>
                    <div class="special-offer-wrap">
                        <h3 class="title">Honda Civic Sedan 2023</h3>
                        <p class="content">Get the Porsche You always Wanted</p>
                        <h4 class="price"> <span class="text-theme me-2">$174.000</span> -  $200.000 <span class="tag">LIMITED TIME OFFER!</span></h4>
                        <a class="as-btn style5" href="cart.html">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>