<!--==============================
    Portfolio Area  
==============================-->
<section class="portfolio-area space-top" data-overlay="title" data-opacity="9" data-bg-src="assets/img/portfolio/portfolio_bg.png">
    <!-- bg animated image -->
    <div class="portfolio-anime-img shape-mockup d-none d-xl-block" data-top="0%" data-left="0"><img class="svg-img" src="assets/img/portfolio/portfolio_bg_shape.svg" alt="img"></div>
    <!-- bg animated image /-->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="title-area text-center">
                    <span class="sub-title"><span class="double-line"></span>    OUR PROJECTS</span>
                    <h2 class="sec-title text-white mb-0">Our Best Projects</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="portfolio-tab-area text-center">
                    <div class="filter-menu tab-menu1" data-asnavfor=".portfolio-card-slide">
                        <button class="tab-btn active">BODY PARTS</button>
                        <button class="tab-btn">ENGINE</button>
                        <button class="tab-btn">BREAK</button>
                        <button class="tab-btn">SUSPENTIONS</button>
                        <button class="tab-btn">WHEELS</button>
                        <button class="tab-btn">STEERING</button>
                    </div>
                    <div class="portfolio-card-slide as-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1">
                        <div class="portfolio-card">
                            <div class="icon-list">
                                <a class="icon-bg-custom" href="service-details.html"><img src="assets/img/icon/bookmark.svg" alt="img"></a>
                                <a class="icon-bg-custom popup-image" href="assets/img/portfolio/portfolio_1.png"><img src="assets/img/icon/full-screen.svg" alt="img"></a>
                            </div>
                            <div class="portfolio-card_img">
                                <img src="assets/img/portfolio/portfolio_1.png" alt="img">
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">Dent Repair Glass</h3>
                                <p class="card_text">Dramatically re-engineer bleeding-edge vortals and multidisciplinary markets. Conveniently plagiarize front-end paradigms through 2.0 solutions. Conveniently revolutionize 2.0 data whereas B2B e-commerce. Seamlessly.</p>
                            </div>
                        </div>
        
                        <div class="portfolio-card">
                            <div class="icon-list">
                                <a class="icon-bg-custom" href="service-details.html"><img src="assets/img/icon/bookmark.svg" alt="img"></a>
                                <a class="icon-bg-custom popup-image" href="assets/img/portfolio/portfolio_1.png"><img src="assets/img/icon/full-screen.svg" alt="img"></a>
                            </div>
                            <div class="portfolio-card_img">
                                <img src="assets/img/portfolio/portfolio_2.png" alt="img">
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">Best Repair Engine</h3>
                                <p class="card_text">Engine matically re-engineer bleeding-edge vortals and multidisciplinary markets. Conveniently plagiarize front-end paradigms through 2.0 solutions. Conveniently revolutionize 2.0 data whereas B2B e-commerce. Seamlessly.</p>
                            </div>
                        </div>
        
                        <div class="portfolio-card">
                            <div class="icon-list">
                                <a class="icon-bg-custom" href="service-details.html"><img src="assets/img/icon/bookmark.svg" alt="img"></a>
                                <a class="icon-bg-custom popup-image" href="assets/img/portfolio/portfolio_1.png"><img src="assets/img/icon/full-screen.svg" alt="img"></a>
                            </div>
                            <div class="portfolio-card_img">
                                <img src="assets/img/portfolio/portfolio_3.png" alt="img">
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">Dent Repair Break</h3>
                                <p class="card_text">Dramatically re-engineer bleeding-edge vortals and multidisciplinary markets. Conveniently plagiarize front-end paradigms through 2.0 solutions. Conveniently revolutionize 2.0 data whereas B2B e-commerce. Seamlessly.</p>
                            </div>
                        </div>
        
                        <div class="portfolio-card">
                            <div class="icon-list">
                                <a class="icon-bg-custom" href="service-details.html"><img src="assets/img/icon/bookmark.svg" alt="img"></a>
                                <a class="icon-bg-custom popup-image" href="assets/img/portfolio/portfolio_1.png"><img src="assets/img/icon/full-screen.svg" alt="img"></a>
                            </div>
                            <div class="portfolio-card_img">
                                <img src="assets/img/portfolio/portfolio_1.png" alt="img">
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">Dent Repair Suspentions</h3>
                                <p class="card_text">Suspentions Dramatically re-engineer bleeding-edge vortals and multidisciplinary markets. Conveniently plagiarize front-end paradigms through 2.0 solutions. Conveniently revolutionize 2.0 data whereas B2B e-commerce. Seamlessly.</p>
                            </div>
                        </div>
    
                        <div class="portfolio-card">
                            <div class="icon-list">
                                <a class="icon-bg-custom" href="service-details.html"><img src="assets/img/icon/bookmark.svg" alt="img"></a>
                                <a class="icon-bg-custom popup-image" href="assets/img/portfolio/portfolio_1.png"><img src="assets/img/icon/full-screen.svg" alt="img"></a>
                            </div>
                            <div class="portfolio-card_img">
                                <img src="assets/img/portfolio/portfolio_2.png" alt="img">
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">Best Repair Wheels</h3>
                                <p class="card_text">Engine matically re-engineer bleeding-edge vortals and multidisciplinary markets. Conveniently plagiarize front-end paradigms through 2.0 solutions. Conveniently revolutionize 2.0 data whereas B2B e-commerce. Seamlessly.</p>
                            </div>
                        </div>
        
                        <div class="portfolio-card">
                            <div class="icon-list">
                                <a class="icon-bg-custom" href="service-details.html"><img src="assets/img/icon/bookmark.svg" alt="img"></a>
                                <a class="icon-bg-custom popup-image" href="assets/img/portfolio/portfolio_1.png"><img src="assets/img/icon/full-screen.svg" alt="img"></a>
                            </div>
                            <div class="portfolio-card_img">
                                <img src="assets/img/portfolio/portfolio_3.png" alt="img">
                            </div>
                            <div class="card_content">
                                <h3 class="card_title">Dent Repair Steering</h3>
                                <p class="card_text">Dramatically re-engineer bleeding-edge vortals and multidisciplinary markets. Conveniently plagiarize front-end paradigms through 2.0 solutions. Conveniently revolutionize 2.0 data whereas B2B e-commerce. Seamlessly.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>