<!--==============================
    Portfolio Area 02 
==============================-->
<section class="portfolio-area-2 space-top" data-overlay="title" data-opacity="9" data-bg-src="assets/img/portfolio/portfolio2_bg.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="title-area mb-lg-0 text-lg-start text-center">
                    <span class="sub-title"><span class="double-line d-lg-none"></span>    OUR PROJECTS</span>
                    <h2 class="sec-title text-white mb-0">Explore Our Recent Projects</h2>
                </div>
            </div>
            <div class="col-lg-3 text-lg-end text-center">
                <a class="as-btn style2" href="contact.html">VIEW MORE PROJECTS</a>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid p-0">
    <div class="portfolio-slider-wrap overflow-hidden">
        <div class="portfolio-slider2 row">
            <div class="item col">
                <div class="portfolio-card2">
                    <div class="portfolio-card_img">
                        <img src="assets/img/portfolio/portfolio_2-1.png" alt="img">
                    </div>
                    
                    <div class="card_content">
                        <div>
                            <a href="assets/img/portfolio/portfolio_2-1.png" class="popup-image icon"><i class="fa-light fa-down-left-and-up-right-to-center"></i></a>
                            <h3 class="card_title box-title text-white">international air freight</h3>
                            <p class="card_text text-white">Collaboratively communicate plug-and-play core competencies before cutting-edge sources.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col">
                <div class="portfolio-card2">
                    <div class="portfolio-card_img">
                        <img src="assets/img/portfolio/portfolio_2-2.png" alt="img">
                    </div>
                    
                    <div class="card_content">
                        <div>
                            <a href="assets/img/portfolio/portfolio_2-2.png" class="popup-image icon"><i class="fa-light fa-down-left-and-up-right-to-center"></i></a>
                            <h3 class="card_title box-title text-white">international port freight</h3>
                            <p class="card_text text-white">Collaboratively communicate plug-and-play core competencies before cutting-edge sources.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col">
                <div class="portfolio-card2">
                    <div class="portfolio-card_img">
                        <img src="assets/img/portfolio/portfolio_2-3.png" alt="img">
                    </div>
                    
                    <div class="card_content">
                        <div>
                            <a href="assets/img/portfolio/portfolio_2-3.png" class="popup-image icon"><i class="fa-light fa-down-left-and-up-right-to-center"></i></a>
                            <h3 class="card_title box-title text-white">international port freight</h3>
                            <p class="card_text text-white">Collaboratively communicate plug-and-play core competencies before cutting-edge sources.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col">
                <div class="portfolio-card2">
                    <div class="portfolio-card_img">
                        <img src="assets/img/portfolio/portfolio_2-4.png" alt="img">
                    </div>
                    
                    <div class="card_content">
                        <div>
                            <a href="assets/img/portfolio/portfolio_2-4.png" class="popup-image icon"><i class="fa-light fa-down-left-and-up-right-to-center"></i></a>
                            <h3 class="card_title box-title text-white">international air freight</h3>
                            <p class="card_text text-white">Collaboratively communicate plug-and-play core competencies before cutting-edge sources.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col">
                <div class="portfolio-card2">
                    <div class="portfolio-card_img">
                        <img src="assets/img/portfolio/portfolio_2-5.png" alt="img">
                    </div>
                    
                    <div class="card_content">
                        <div>
                            <a href="assets/img/portfolio/portfolio_2-5.png" class="popup-image icon"><i class="fa-light fa-down-left-and-up-right-to-center"></i></a>
                            <h3 class="card_title box-title text-white">international air freight</h3>
                            <p class="card_text text-white">Collaboratively communicate plug-and-play core competencies before cutting-edge sources.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col">
                <div class="portfolio-card2">
                    <div class="portfolio-card_img">
                        <img src="assets/img/portfolio/portfolio_2-1.png" alt="img">
                    </div>
                    
                    <div class="card_content">
                        <div>
                            <a href="assets/img/portfolio/portfolio_2-1.png" class="popup-image icon"><i class="fa-light fa-down-left-and-up-right-to-center"></i></a>
                            <h3 class="card_title box-title text-white">international air freight</h3>
                            <p class="card_text text-white">Collaboratively communicate plug-and-play core competencies before cutting-edge sources.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col">
                <div class="portfolio-card2">
                    <div class="portfolio-card_img">
                        <img src="assets/img/portfolio/portfolio_2-2.png" alt="img">
                    </div>
                    
                    <div class="card_content">
                        <div>
                            <a href="assets/img/portfolio/portfolio_2-2.png" class="popup-image icon"><i class="fa-light fa-down-left-and-up-right-to-center"></i></a>
                            <h3 class="card_title box-title text-white">international air freight</h3>
                            <p class="card_text text-white">Collaboratively communicate plug-and-play core competencies before cutting-edge sources.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col">
                <div class="portfolio-card2">
                    <div class="portfolio-card_img">
                        <img src="assets/img/portfolio/portfolio_2-3.png" alt="img">
                    </div>
                    
                    <div class="card_content">
                        <div>
                            <a href="assets/img/portfolio/portfolio_2-3.png" class="popup-image icon"><i class="fa-light fa-down-left-and-up-right-to-center"></i></a>
                            <h3 class="card_title box-title text-white">international air freight</h3>
                            <p class="card_text text-white">Collaboratively communicate plug-and-play core competencies before cutting-edge sources.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col">
                <div class="portfolio-card2">
                    <div class="portfolio-card_img">
                        <img src="assets/img/portfolio/portfolio_2-4.png" alt="img">
                    </div>
                    
                    <div class="card_content">
                        <div>
                            <a href="assets/img/portfolio/portfolio_2-4.png" class="popup-image icon"><i class="fa-light fa-down-left-and-up-right-to-center"></i></a>
                            <h3 class="card_title box-title text-white">international air freight</h3>
                            <p class="card_text text-white">Collaboratively communicate plug-and-play core competencies before cutting-edge sources.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col">
                <div class="portfolio-card2">
                    <div class="portfolio-card_img">
                        <img src="assets/img/portfolio/portfolio_2-5.png" alt="img">
                    </div>
                    
                    <div class="card_content">
                        <div>
                            <a href="assets/img/portfolio/portfolio_2-5.png" class="popup-image icon"><i class="fa-light fa-down-left-and-up-right-to-center"></i></a>
                            <h3 class="card_title box-title text-white">international air freight</h3>
                            <p class="card_text text-white">Collaboratively communicate plug-and-play core competencies before cutting-edge sources.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>