<!--==============================
Price Area  
==============================-->
<section class="space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9">
                <div class="title-area text-center">
                    <span class="sub-title"><span class="double-line"></span> PRICING PLANS</span>
                    <h2 class="sec-title">Our Flexible Price</h2>
                </div>
            </div>
        </div>
        <div class="row gy-30 justify-content-center as-carousel" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2">

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="price-card">
                    <div class="price-card_header">
                        <img class="bg-shape svg-img" src="assets/img/bg/pricing-bg-shape.svg" alt="img">
                        <h3 class="price-card_title h4">
                            Basic Package
                        </h3>
                        <h4 class="price-card_price">
                            <span class="price">$125</span>
                            / Month
                        </h4>
                    </div>
                    <div class="price-card_content">
                        <ul class="available-list">
                            <li><i class="fa-solid fa-check"></i>1 warehouse</li>
                            <li><i class="fa-solid fa-check"></i>Custom business rules</li>
                            <li class="unavailable"><i class="fa-solid fa-times"></i>Real-time rate shopping</li>
                            <li class="unavailable"><i class="fa-solid fa-times"></i>100 freight shipments</li>
                            <li class="unavailable"><i class="fa-solid fa-times"></i>Any time 24/7 support</li>
                        </ul>
                        <a href="contact.html" class="as-btn style-title">CHOOSE PLAN</a>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="price-card">
                    <div class="price-card_header">
                        <img class="bg-shape svg-img" src="assets/img/bg/pricing-bg-shape.svg" alt="img">
                        <h3 class="price-card_title h4">
                            Popular Package
                        </h3>
                        <h4 class="price-card_price">
                            <span class="price">$155</span>
                            / Month
                        </h4>
                    </div>
                    <div class="price-card_content">
                        <ul class="available-list">
                            <li><i class="fa-solid fa-check"></i>1 warehouse</li>
                            <li><i class="fa-solid fa-check"></i>Custom business rules</li>
                            <li><i class="fa-solid fa-check"></i>Real-time rate shopping</li>
                            <li class="unavailable"><i class="fa-solid fa-times"></i>100 freight shipments</li>
                            <li class="unavailable"><i class="fa-solid fa-times"></i>Any time 24/7 support</li>
                        </ul>
                        <a href="contact.html" class="as-btn style-title">CHOOSE PLAN</a>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="price-card">
                    <div class="price-card_header">
                        <img class="bg-shape svg-img" src="assets/img/bg/pricing-bg-shape.svg" alt="img">
                        <h3 class="price-card_title h4">
                            Standard Package
                        </h3>
                        <h4 class="price-card_price">
                            <span class="price">$175</span>
                            / Month
                        </h4>
                    </div>
                    <div class="price-card_content">
                        <ul class="available-list">
                            <li><i class="fa-solid fa-check"></i>1 warehouse</li>
                            <li><i class="fa-solid fa-check"></i>Custom business rules</li>
                            <li><i class="fa-solid fa-check"></i>Real-time rate shopping</li>
                            <li><i class="fa-solid fa-check"></i>100 freight shipments</li>
                            <li class="unavailable"><i class="fa-solid fa-times"></i>Any time 24/7 support</li>
                        </ul>
                        <a href="contact.html" class="as-btn style-title">CHOOSE PLAN</a>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="price-card">
                    <div class="price-card_header">
                        <img class="bg-shape svg-img" src="assets/img/bg/pricing-bg-shape.svg" alt="img">
                        <h3 class="price-card_title h4">
                            Premium Package
                        </h3>
                        <h4 class="price-card_price">
                            <span class="price">$195</span>
                            / Month
                        </h4>
                    </div>
                    <div class="price-card_content">
                        <ul class="available-list">
                            <li><i class="fa-solid fa-check"></i>1 warehouse</li>
                            <li><i class="fa-solid fa-check"></i>Custom business rules</li>
                            <li><i class="fa-solid fa-check"></i>Real-time rate shopping</li>
                            <li><i class="fa-solid fa-check"></i>100 freight shipments</li>
                            <li><i class="fa-solid fa-check"></i>Any time 24/7 support</li>
                        </ul>
                        <a href="contact.html" class="as-btn style-title">CHOOSE PLAN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>