<!--==============================
    Product Area 02 
==============================-->
<div class="product-area2 space text-center" data-bg-src="assets/img/bg/product2-bg.png">
    <div class="container">
        <div class="title-area text-center">
            <h3 class="sub-title"><span class="double-line"></span> TOP CAR INVENTORY</h3>
            <h2 class="sec-title">Latest Featured Car Inventory</h2>
        </div>      
        <div class="row gy-25">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Ford Explorer XLT</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_1.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    
                    <div class="product-content">
                        <h5 class="price h6">$174.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Ferrari F12 TRS</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_2.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    
                    <div class="product-content">
                        <h5 class="price h6">$274.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Mercedes-Benz</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_3.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    
                    <div class="product-content">
                        <h5 class="price h6">$250.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Mazda MX Miata</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_4.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    
                    <div class="product-content">
                        <h5 class="price h6">$300.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Audi A4 1.8 TFSI</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_5.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    
                    <div class="product-content">
                        <h5 class="price h6">$350.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Tesla S-Line Upon</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_6.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    
                    <div class="product-content">
                        <h5 class="price h6">$355.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">BMW 640 XI Gran</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_7.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    
                    <div class="product-content">
                        <h5 class="price h6">$360.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="as-product style2">
                    <div class="product-thumb-wrap">
                        <h4 class="product-title h5"><a href="shop-details.html">Maserati Ghibli SQ4</a></h4>
                        <div class="product-img">
                            <img src="assets/img/product/product_2_8.png" alt="product image">
                        </div>
                        <a class="bookmark-tag" href="wishlist.html"><i class="fa-regular fa-heart"></i></a>
                    </div>
                    
                    <div class="product-content">
                        <h5 class="price h6">$255.000</h5>
                        <span class="year-tag">2023</span>

                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="review-counter woocommerce-review-link">(<span class="count">26</span> Review)</a>
                        </div>

                        <ul class="product-feature">
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-1.svg" alt="icon"></div>
                                New
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-2.svg" alt="icon"></div>
                                120cc
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-3.svg" alt="icon"></div>
                                Manual
                            </li>
                            <li>
                                <div class="icon"><img src="assets/img/icon/product-feature-icon-4.svg" alt="icon"></div>
                                Petrol
                            </li>
                        </ul>
                        <a class="as-btn style-border btn-fw" href="checkout.html">VIEW DETAILS</a>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-50">
                <a class="as-btn style4" href="shop.html">VIEW MORE</a>
            </div>
        </div>
    </div>
</div>