<!--==============================
    Product Area  
==============================-->
<div class="product-area space">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="title-area mb-0">
                    <h2 class="sec-title mb-0">Our Popular Products</h2>
                </div>
            </div>
            <div class="col-lg-7 text-center text-lg-end">
                <div class="product-filter-btn style2 filter-menu filter-menu-active">
                    <button data-filter="*" class="tab-btn active" type="button">ALL</button>
                    <button data-filter=".cat1" class="tab-btn" type="button">BREAK</button>
                    <button data-filter=".cat2" class="tab-btn" type="button">WHEELS</button>
                    <button data-filter=".cat3" class="tab-btn" type="button">ENGINE</button>
                    <button data-filter=".cat4" class="tab-btn" type="button">OIL</button>
                    <button data-filter=".cat5" class="tab-btn" type="button">LIGHT</button>
                    <button data-filter=".cat6" class="tab-btn" type="button">OTHER</button>
                </div>   
            </div>
        </div>
        
           

        <div class="row gy-25 filter-active text-center mt-4">
            <div class="col-xl-3 col-lg-4 col-sm-6 filter-item cat4">
                <div class="as-product">
                    <span class="tag">NEW</span>
                    <div class="actions">
                        <a class="icon-btn" href="cart.html"><i class="fa-regular fa-heart"></i></a>
                        <a class="icon-btn popup-image" href="assets/img/product/product_1_1.png"><i class="fa-regular fa-eye"></i></a>
                        <a class="icon-btn" href="wishlist.html"><i class="fa-regular fa-star"></i></a>
                    </div>
                    <div class="product-img">
                        <img src="assets/img/product/product_1_1.png" alt="product image">
                    </div>
                    <div class="product-content">
                        <p class="meta">Motor Oil</p>
                        <h4 class="product-title h5"><a href="shop-details.html">Castrol EDGE A3/B4</a></h4>
                        <span class="price">$125.00</span>
                        <a class="as-btn style3" href="checkout.html"><i class="fa-regular fa-cart-shopping me-2"></i> ADD TO CART</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 filter-item cat1 cat2">
                <div class="as-product">
                    <span class="tag">NEW</span>
                    <div class="actions">
                        <a class="icon-btn" href="cart.html"><i class="fa-regular fa-heart"></i></a>
                        <a class="icon-btn popup-image" href="assets/img/product/product_1_2.png"><i class="fa-regular fa-eye"></i></a>
                        <a class="icon-btn" href="wishlist.html"><i class="fa-regular fa-star"></i></a>
                    </div>
                    <div class="product-img">
                        <img src="assets/img/product/product_1_2.png" alt="product image">
                    </div>
                    <div class="product-content">
                        <p class="meta">Automotive Brake</p>
                        <h4 class="product-title h5"><a href="shop-details.html">Brembo Disc Brake S2</a></h4>
                        <span class="price">$120.00</span>
                        <a class="as-btn style3" href="checkout.html"><i class="fa-regular fa-cart-shopping me-2"></i> ADD TO CART</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 filter-item cat3 cat4">
                <div class="as-product">
                    <span class="tag">NEW</span>
                    <div class="actions">
                        <a class="icon-btn" href="cart.html"><i class="fa-regular fa-heart"></i></a>
                        <a class="icon-btn popup-image" href="assets/img/product/product_1_3.png"><i class="fa-regular fa-eye"></i></a>
                        <a class="icon-btn" href="wishlist.html"><i class="fa-regular fa-star"></i></a>
                    </div>
                    <div class="product-img">
                        <img src="assets/img/product/product_1_3.png" alt="product image">
                    </div>
                    <div class="product-content">
                        <p class="meta">Car Battery</p>
                        <h4 class="product-title h5"><a href="shop-details.html">Super 5M Rechargeable</a></h4>
                        <span class="price">$100.00</span>
                        <a class="as-btn style3" href="checkout.html"><i class="fa-regular fa-cart-shopping me-2"></i> ADD TO CART</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 filter-item cat1 cat2">
                <div class="as-product">
                    <span class="tag">NEW</span>
                    <div class="actions">
                        <a class="icon-btn" href="cart.html"><i class="fa-regular fa-heart"></i></a>
                        <a class="icon-btn popup-image" href="assets/img/product/product_1_4.png"><i class="fa-regular fa-eye"></i></a>
                        <a class="icon-btn" href="wishlist.html"><i class="fa-regular fa-star"></i></a>
                    </div>
                    <div class="product-img">
                        <img src="assets/img/product/product_1_4.png" alt="product image">
                    </div>
                    <div class="product-content">
                        <p class="meta">Car Wheel Rim</p>
                        <h4 class="product-title h5"><a href="shop-details.html">Lotus Cars Group Wheel</a></h4>
                        <span class="price">$133.00</span>
                        <a class="as-btn style3" href="checkout.html"><i class="fa-regular fa-cart-shopping me-2"></i> ADD TO CART</a>
                    </div>
                </div>
            </div>                
            <div class="col-xl-3 col-lg-4 col-sm-6 filter-item cat2 cat5">
                <div class="as-product">
                    <span class="tag">NEW</span>
                    <div class="actions">
                        <a class="icon-btn" href="cart.html"><i class="fa-regular fa-heart"></i></a>
                        <a class="icon-btn popup-image" href="assets/img/product/product_1_5.png"><i class="fa-regular fa-eye"></i></a>
                        <a class="icon-btn" href="wishlist.html"><i class="fa-regular fa-star"></i></a>
                    </div>
                    <div class="product-img">
                        <img src="assets/img/product/product_1_5.png" alt="product image">
                    </div>
                    <div class="product-content">
                        <p class="meta">Car Bearing </p>
                        <h4 class="product-title h5"><a href="shop-details.html">Ball bearing Rolling</a></h4>
                        <span class="price">$125.00 <del>$175.00</del></span>
                        <a class="as-btn style3" href="checkout.html"><i class="fa-regular fa-cart-shopping me-2"></i> ADD TO CART</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 filter-item cat1 cat5 cat6">
                <div class="as-product">
                    <span class="tag">NEW</span>
                    <div class="actions">
                        <a class="icon-btn" href="cart.html"><i class="fa-regular fa-heart"></i></a>
                        <a class="icon-btn popup-image" href="assets/img/product/product_1_6.png"><i class="fa-regular fa-eye"></i></a>
                        <a class="icon-btn" href="wishlist.html"><i class="fa-regular fa-star"></i></a>
                    </div>
                    <div class="product-img">
                        <img src="assets/img/product/product_1_6.png" alt="product image">
                    </div>
                    <div class="product-content">
                        <p class="meta">Oil Filter</p>
                        <h4 class="product-title h5"><a href="shop-details.html">Toyota Oil Filter Motor</a></h4>
                        <span class="price">$125.00</span>
                        <a class="as-btn style3" href="checkout.html"><i class="fa-regular fa-cart-shopping me-2"></i> ADD TO CART</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 filter-item cat2 cat5">
                <div class="as-product">
                    <span class="tag">NEW</span>
                    <div class="actions">
                        <a class="icon-btn" href="cart.html"><i class="fa-regular fa-heart"></i></a>
                        <a class="icon-btn popup-image" href="assets/img/product/product_1_7.png"><i class="fa-regular fa-eye"></i></a>
                        <a class="icon-btn" href="wishlist.html"><i class="fa-regular fa-star"></i></a>
                    </div>
                    <div class="product-img">
                        <img src="assets/img/product/product_1_7.png" alt="product image">
                    </div>
                    <div class="product-content">
                        <p class="meta">Car Wheel & Tire</p>
                        <h4 class="product-title h5"><a href="shop-details.html">Panda Cars Wheel & Tire</a></h4>
                        <span class="price">$125.00 <del>$175.00</del></span>
                        <a class="as-btn style3" href="checkout.html"><i class="fa-regular fa-cart-shopping me-2"></i> ADD TO CART</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 filter-item cat2 cat3 cat6">
                <div class="as-product">
                    <span class="tag">NEW</span>
                    <div class="actions">
                        <a class="icon-btn" href="cart.html"><i class="fa-regular fa-heart"></i></a>
                        <a class="icon-btn popup-image" href="assets/img/product/product_1_8.png"><i class="fa-regular fa-eye"></i></a>
                        <a class="icon-btn" href="wishlist.html"><i class="fa-regular fa-star"></i></a>
                    </div>
                    <div class="product-img">
                        <img src="assets/img/product/product_1_8.png" alt="product image">
                    </div>
                    <div class="product-content">
                        <p class="meta">Vehicle Parts</p>
                        <h4 class="product-title h5"><a href="shop-details.html">Car Vehicle Automatic</a></h4>
                        <span class="price">$125.00</span>
                        <a class="as-btn style3" href="checkout.html"><i class="fa-regular fa-cart-shopping me-2"></i> ADD TO CART</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>