<!--==============================
Review Area  
==============================-->
<section class="space-bottom">
    <div class="review-thumb shape-mockup d-none d-md-block" data-top="0" data-left="0">
        <img src="assets/img/normal/review-thumb.png" alt="review">
    </div>
    <div class="container">
        <div class="row gx-0 bg-gray">
            <div class="offset-xl-5 col-xl-7 review-form-wrap">
                <div class="title-area mb-40">
                    <h2 class="sec-title">Leave Your Review</h2>
                    <div class="form-group rating-select d-flex align-items-center">
                        <p class="stars selected">
                            <span>
                                <a class="star-1" href="#">1</a>
                                <a class="star-2" href="#">2</a>
                                <a class="star-3" href="#">3</a>
                                <a class="star-4" href="#">4</a>
                                <a class="star-5 active" href="#">5</a>
                            </span>
                        </p>                        
                        <label>(5 Stars)</label>
                    </div>
                </div>
                <form action="mail.php" method="POST" class="review-form ajax-contact">
                    <div class="row gx-24">
                        <div class="form-group style-white2 col-md-6">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Your Name">
                            <i class="fal fa-user"></i>
                        </div>
                        <div class="form-group style-white2 col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="form-group style-white2 col-md-6">
                            <input type="number" class="form-control" name="number" id="number" placeholder="Phone Number">
                            <i class="fal fa-phone-flip"></i>
                        </div>
                        <div class="form-group col-md-6">
                            <select name="subject" id="subject" class="form-select style-white2">
                                <option value="" disabled selected hidden>Select Service</option>
                                <option value="Electrical System">Electrical System</option>
                                <option value="Auto Car Repair">Auto Car Repair</option>
                                <option value="Engine Diagnostics">Engine Diagnostics</option>
                                <option value="Car & Engine Clean">Car & Engine Clean</option>
                            </select>
                        </div>
                        <div class="form-group style-white2 col-12">
                            <textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
                            <i class="fal fa-comment"></i>
                        </div>
                        <div class="form-btn col-12 mt-10">
                            <button class="as-btn style4">Send your review</button>
                        </div>
                    </div>
                    <p class="form-messages mb-0 mt-3"></p>
                </form>
            </div>
        </div>

    </div>
</section>