<!--==============================
    Cta Area  
==============================-->
<div class="container-fluid p-0">
    <div class="cta-wrap space-top" data-bg-src="assets/img/cta/cta_bg.png">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-8 col-lg-8 text-center">
                <div class="title-area mb-0">
                    <h2 class="sec-title text-white">Looking For a Place You Can Trust To Keep Your Vehicles Rolling.</h2>
                    <div class="btn-group justify-content-center">
                        <a class="as-btn style2" href="contact.html">BOOK NOW</a>
                        <a class="as-btn style3" href="tel:+16312020088"><i class="fa-solid fa-phone me-1"></i> +163 1202 0088</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
    Service Area  
==============================-->
<div class="container">
    <div class="service-slider row as-carousel g-0" data-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-dots="true" data-xl-dots="true" data-ml-dots="true" data-lg-dots="true">
        <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <h3 class="service-card_title"><a href="service-details.html">Engine Repair</a></h3>
                <p class="service-card_text">Engine Repair leverage existing covalent int erface and revolutionary results. Objective enable open-source imperatives after.</p>
                <div class="service-card_img">
                    <div class="service-card_icon">
                        <img class="svg-img" src="assets/img/icon/service_icon_1_1.svg" alt="img">                        
                    </div>
                    <div class="thumb">
                        <img src="assets/img/service/service_1.png" alt="service">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <h3 class="service-card_title"><a href="service-details.html">Brake Repair</a></h3>
                <p class="service-card_text">Brake Repair leverage existing covalent int erface and revolutionary results. Objective enable open-source imperatives after.</p>
                <div class="service-card_img">
                    <div class="service-card_icon">
                        <img class="svg-img" src="assets/img/icon/service_icon_1_2.svg" alt="img">                        
                    </div>
                    <div class="thumb">
                        <img src="assets/img/service/service_2.png" alt="service">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <h3 class="service-card_title"><a href="service-details.html">Tyre Repair</a></h3>
                <p class="service-card_text">Tyre Repair leverage existing covalent int erface and revolutionary results. Objective enable open-source imperatives after.</p>
                <div class="service-card_img">
                    <div class="service-card_icon">
                        <img class="svg-img" src="assets/img/icon/service_icon_1_3.svg" alt="img">                        
                    </div>
                    <div class="thumb">
                        <img src="assets/img/service/service_3.png" alt="service">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="service-card">
                <h3 class="service-card_title"><a href="service-details.html">Car Repair</a></h3>
                <p class="service-card_text">Car Repair leverage existing covalent int erface and revolutionary results. Objective enable open-source imperatives after.</p>
                <div class="service-card_img">
                    <div class="service-card_icon">
                        <img class="svg-img" src="assets/img/icon/service_icon_1_4.svg" alt="img">                        
                    </div>
                    <div class="thumb">
                        <img src="assets/img/service/service_2.png" alt="service">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>