<!--==============================
Service Area
==============================-->
<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-40">
                    <img class="w-100" src="assets/img/project/project_details_1.jpg" alt="Project Image">
                </div>
                <h3 class="single-title">Your Car’s New Year’s Resolutions</h3>
                <div class="project-content">
                    <p class="mb-40">Holisticly benchmark functional products before excellent methods of empowerment. Seamlessly visualize innovative web-readiness whereas extensive initiatives. Completely unleash frictionless data via end to end services. Continually unleash virtual e tailers through magnetic core competencies. Interactively engage distributed alignments via focused alignments. Dynamically fabricate excellent innovation for go forward technology. Intrinsicly impact empowered scenarios after cost effective outsourcing. Synergistically productivate pandemic e business rather than state of the art e-tailers. Continually expedite customized information with go forward potentialities.</p>
                    <h4 class="h4 mb-20">The Challenge Of Project</h4>
                    <p class="mt-20 mb-30">Interactively engage distributed alignments via focused alignments. Dynamically fabricate excellent for go forward technology. Intrinsicly impact empowered scenarios after cost effective outsourcing. Synergistically productivate pandemic e-business rather than state of the art e-tailers. Completely unleash frictionless data via services. Continually unleash virtual e tailers through magnetic core competencies. Interactively engage distributed alignments via focused alignments.</p>
                    <p class="mb-30">Assertively e-enable catalysts for change before fully tested markets. Phosfluorescently maintain wireless scenarios after intermandated applications. Conveniently predominate revolutionary quality vectors through future-proof manufactured products. Enthusiastically transform distinctive collaboration.</p>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-30">
                                <img class="w-100" src="assets/img/project/project_inner_1.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-30">
                                <img class="w-100" src="assets/img/project/project_inner_2.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                    <p class="mb-n2">Completely unleash frictionless data via end to end services. Continually unleash virtual e tailers through magnetic core competencies. Interactively engage distributed alignments via focused alignments. excellent innovation for go forward technology. Intrinsicly impact empowered scenarios...</p>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="sidebar-area">
                    <div class="widget widget_project_info">
                        <h4 class="widget_title">Download</h4>
                        <div class="project-info-wrap">
                            <div class="project-info">
                                <div class="project-info_icon">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="project-info_content">
                                    <p class="project-info_text">Client:</p>
                                    <h6 class="project-info_title">Josefin H. Smith</h6>
                                </div>

                            </div>
                            <div class="project-info">
                                <div class="project-info_icon">
                                    <i class="fas fa-layer-group"></i>
                                </div>
                                <div class="project-info_content">
                                    <p class="project-info_text">Category:</p>
                                    <h6 class="project-info_title">Car Repair, Oil Change</h6>
                                </div>

                            </div>
                            <div class="project-info">
                                <div class="project-info_icon">
                                    <i class="fas fa-calendar-days"></i>
                                </div>
                                <div class="project-info_content">
                                    <p class="project-info_text">Date:</p>
                                    <h6 class="project-info_title">25 March, 2022</h6>
                                </div>

                            </div>
                            <div class="project-info">
                                <div class="project-info_icon">
                                    <i class="fas fa-location-dot"></i>
                                </div>
                                <div class="project-info_content">
                                    <p class="project-info_text">Address:</p>
                                    <h6 class="project-info_title">258 Dancing Street, USA</h6>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="widget widget_offer" data-bg-src="assets/img/bg/widget_bg_1.png">
                        <div class="offer-banner">
                            <h4 class="banner-title">Need Help? We Are Here To Help You</h4>
                            <div class="offer">
                                <h6 class="offer-title"><span class="text-theme">Dealaro</span> Special</h6>
                                <p class="offer-text">Save up to <span class="text-theme">60% off</span></p>
                            </div>
                            <a href="contact.html" class="as-btn style5">Get A Quote</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>

    </div>
</section>