<div class="subscribe-area" data-bg-src="assets/img/bg/subscribe-bg.png">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6">
                <div class="title-area mb-xl-0 mb-5 text-center text-xl-start">
                    <h2 class="sec-title text-white mb-15">Subscribe To Newsletter</h2>
                    <p class="mb-0 fw-medium h6 text-white">Offer News | Services News | Others Features News</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8">
                <form class="subscribe-form">
                    <div class="form-group style-white mb-0">
                        <input class="form-control" type="email" placeholder="Enter Your Email" required="">
                    </div>
                    <button type="submit" class="as-btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>