<!--==============================
    Team Area
==============================-->
<section class="team-area space" data-bg-src="assets/img/team/team_bg_1.png">
    <div class="container">
        <div class="title-area text-center">
            <h3 class="sub-title"><span class="double-line"></span> OUR TECHNICIAN</h3>
            <h2 class="sec-title">Expart Technician Team</h2>
        </div>
        <div class="row as-carousel team-slider" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true">
            <div class="col-lg-4 col-sm-6">
                <div class="team-card">
                    <div class="bg-shape"><img src="assets/img/team/team-thumb-bg.svg" alt="img"></div>
                    
                    <div class="as-social">
                        <a class="icon-bg-custom" target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                    </div>
                    <div class="team-img">
                        <img src="assets/img/team/team-1.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Imon Hossain</a></h3>
                        <span class="team-desig">Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="team-card">
                    <div class="bg-shape"><img src="assets/img/team/team-thumb-bg.svg" alt="img"></div>
                    
                    <div class="as-social ">
                        <a class="icon-bg-custom" target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                    </div>
                    <div class="team-img">
                        <img src="assets/img/team/team-2.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Anjelina Roy</a></h3>
                        <span class="team-desig">Technician</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="team-card">
                    <div class="bg-shape"><img src="assets/img/team/team-thumb-bg.svg" alt="img"></div>
                    
                    <div class="as-social ">
                        <a class="icon-bg-custom" target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                    </div>
                    <div class="team-img">
                        <img src="assets/img/team/team-3.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Henry Josep</a></h3>
                        <span class="team-desig">Worker</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="team-card">
                    <div class="bg-shape"><img src="assets/img/team/team-thumb-bg.svg" alt="img"></div>
                    
                    <div class="as-social ">
                        <a class="icon-bg-custom" target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                    </div>
                    <div class="team-img">
                        <img src="assets/img/team/team-4.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Michel Rusho</a></h3>
                        <span class="team-desig">Technician</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="team-card">
                    <div class="bg-shape"><img src="assets/img/team/team-thumb-bg.svg" alt="img"></div>
                    
                    <div class="as-social ">
                        <a class="icon-bg-custom" target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                    </div>
                    <div class="team-img">
                        <img src="assets/img/team/team-1.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Imon Hossain</a></h3>
                        <span class="team-desig">Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="team-card">
                    <div class="bg-shape"><img src="assets/img/team/team-thumb-bg.svg" alt="img"></div>
                    
                    <div class="as-social ">
                        <a class="icon-bg-custom" target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                    </div>
                    <div class="team-img">
                        <img src="assets/img/team/team-2.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Anjelina Roy</a></h3>
                        <span class="team-desig">Technician</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="team-card">
                    <div class="bg-shape"><img src="assets/img/team/team-thumb-bg.svg" alt="img"></div>
                    
                    <div class="as-social ">
                        <a class="icon-bg-custom" target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                    </div>
                    <div class="team-img">
                        <img src="assets/img/team/team-3.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Henry Josep</a></h3>
                        <span class="team-desig">Worker</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="team-card">
                    <div class="bg-shape"><img src="assets/img/team/team-thumb-bg.svg" alt="img"></div>
                    
                    <div class="as-social ">
                        <a class="icon-bg-custom" target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                    </div>
                    <div class="team-img">
                        <img src="assets/img/team/team-4.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Michel Rusho</a></h3>
                        <span class="team-desig">Technician</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>