<!--==============================
    Team Area 02
==============================-->
<section class="team-area-2 space">
    <div class="container">
        <div class="title-area text-center">
            <h3 class="sub-title"><span class="double-line"></span> TEAM MEMBERS</h3>
            <h2 class="sec-title">Our Expert Team Members</h2>
        </div>
        <div class="row as-carousel team-slider" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true">
            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">   
                    <div class="team-img">
                        <img src="assets/img/team/team-2-1.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Anjelina Sinthiya</a></h3>
                        <span class="team-desig">Company CEO</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">   
                    <div class="team-img">
                        <img src="assets/img/team/team-2-2.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Rothar Federer</a></h3>
                        <span class="team-desig">Customer Advisor</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">   
                    <div class="team-img">
                        <img src="assets/img/team/team-2-3.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Jenifer Lopez</a></h3>
                        <span class="team-desig">Managing Director</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">   
                    <div class="team-img">
                        <img src="assets/img/team/team-2-4.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Alex Furnandes</a></h3>
                        <span class="team-desig">Company Secretary</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">   
                    <div class="team-img">
                        <img src="assets/img/team/team-2-1.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Anjelina Sinthiya</a></h3>
                        <span class="team-desig">Company CEO</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">   
                    <div class="team-img">
                        <img src="assets/img/team/team-2-2.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Rothar Federer</a></h3>
                        <span class="team-desig">Customer Advisor</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">   
                    <div class="team-img">
                        <img src="assets/img/team/team-2-3.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Jenifer Lopez</a></h3>
                        <span class="team-desig">Managing Director</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-card-2">   
                    <div class="team-img">
                        <img src="assets/img/team/team-2-4.png" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="team-details.html">Alex Furnandes</a></h3>
                        <span class="team-desig">Company Secretary</span>
                        <div class="as-social style-2">
                            <a target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            <a target="_blank" href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a target="_blank" href="https://google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>