<!--==============================
    Testimonial Area 2  
==============================-->
<section class="testiomonial-area space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 order-lg-2 align-self-center">
                <div class="testi-thumb text-center" data-bg-src="assets/img/testimonial/testi_thumb_bg.png">
                    <img src="assets/img/testimonial/testi_1_1.png" alt="img">
                    <div class="anime-img-1 jump shape-mockup d-none d-md-block" data-bottom="-10%" data-right="0"><img src="assets/img/testimonial/testi_thumb_1.png" alt="img"></div>

                    <div class="action jump3 testi-indicator" data-asnavfor="#testimonial-indicator">
                        <a class="testi-indicator-btn testi-indicator-6 active" href="#"><img src="assets/img/testimonial/testi_indicate-1.png" alt="img"></a>
                        <a class="testi-indicator-btn testi-indicator-5" href="#"><img src="assets/img/testimonial/testi_indicate-2.png" alt="img"></a>
                        <a class="testi-indicator-btn testi-indicator-4" href="#"><img src="assets/img/testimonial/testi_indicate-3.png" alt="img"></a>
                        <a class="testi-indicator-btn testi-indicator-3" href="#"><img src="assets/img/testimonial/testi_indicate-4.png" alt="img"></a>
                        <a class="testi-indicator-btn testi-indicator-2" href="#"><img src="assets/img/testimonial/testi_indicate-5.png" alt="img"></a>
                        <a class="testi-indicator-btn testi-indicator-1" href="#"><img src="assets/img/testimonial/testi_indicate-6.png" alt="img"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="title-area mb-0 text-center text-lg-start">
                    <span class="sub-title"> <span class="double-line d-lg-none"></span>   TESTIMONIALS</span>
                    <h2 class="sec-title">What Our Customer Say <br>About Services
                    </h2>
                </div>
                <div class="testimonial-slider as-carousel" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1" data-xs-slide-show="1" data-fade="true"  id="testimonial-indicator">
                    <div class="testi-box">
                        <p class="testi_content">Quickly predominate user-centric ideas rather compelling technology. Compellingly orchestrate intuitive infomediarie before adaptive poten tialities. Competently recaptiualize highly efficient intellectual capital rather than highly efficient partnerships. Continually evisculate.</p>
                        <div class="testi-box_profile">
                            <div class="icon">
                                <img src="assets/img/icon/quote.svg" alt="img">
                            </div>
                            <div class="details">
                                <h4 class="testi-box_name">Imon Hossain</h4>
                                <span class="testi-box_desig">Customer</span>
                            </div>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                            </div>
                        </div>
                    </div>

                    <div class="testi-box">
                        <p class="testi_content">Compellingly deploy premier web services via granular total linkage. Professionally strategize resource maximizing portals for cross-unit systems. Monotonectally Quality vectors with virtual supply chains. Quickly predominate user-centric ideas rather compelling technology.</p>
                        <div class="testi-box_profile">
                            <div class="icon">
                                <img src="assets/img/icon/quote.svg" alt="img">
                            </div>
                            <div class="details">
                                <h4 class="testi-box_name">Jenifer Lopez</h4>
                                <span class="testi-box_desig">Customer</span>
                            </div>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                            </div>
                        </div>
                    </div>

                    <div class="testi-box">
                        <p class="testi_content">Compellingly orchestrate user-centric ideas rather compelling technology. Quickly predominate intuitive infomediarie before adaptive poten tialities. Competently recaptiualize highly efficient intellectual capital rather than highly efficient partnerships. Continually evisculate.</p>
                        <div class="testi-box_profile">
                            <div class="icon">
                                <img src="assets/img/icon/quote.svg" alt="img">
                            </div>
                            <div class="details">
                                <h4 class="testi-box_name">Amiruzzaman</h4>
                                <span class="testi-box_desig">Customer</span>
                            </div>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                            </div>
                        </div>
                    </div>                   

                    <div class="testi-box">
                        <p class="testi_content">Quickly predominate user-centric ideas rather compelling technology. Compellingly orchestrate intuitive infomediarie before adaptive poten tialities. Competently recaptiualize highly efficient intellectual capital rather than highly efficient partnerships. Continually evisculate.</p>
                        <div class="testi-box_profile">
                            <div class="icon">
                                <img src="assets/img/icon/quote.svg" alt="img">
                            </div>
                            <div class="details">
                                <h4 class="testi-box_name">Kew Walson</h4>
                                <span class="testi-box_desig">Customer</span>
                            </div>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                            </div>
                        </div>
                    </div>

                    <div class="testi-box">
                        <p class="testi_content">Compellingly orchestrate user-centric ideas rather compelling technology. Quickly predominate intuitive infomediarie before adaptive poten tialities. Competently recaptiualize highly efficient intellectual capital rather than highly efficient partnerships. Continually evisculate.</p>
                        <div class="testi-box_profile">
                            <div class="icon">
                                <img src="assets/img/icon/quote.svg" alt="img">
                            </div>
                            <div class="details">
                                <h4 class="testi-box_name">Amiruzzaman</h4>
                                <span class="testi-box_desig">Customer</span>
                            </div>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                            </div>
                        </div>
                    </div>

                    <div class="testi-box">
                        <p class="testi_content">
                            Quickly predominate user-centric ideas rather compelling technology. Compellingly orchestrate intuitive infomediarie before adaptive poten tialities. Competently recaptiualize highly efficient intellectual capital rather than highly efficient partnerships. Continually evisculate.</p>
                        <div class="testi-box_profile">
                            <div class="icon">
                                <img src="assets/img/icon/quote.svg" alt="img">
                            </div>
                            <div class="details">
                                <h4 class="testi-box_name">Imon Hossain</h4>
                                <span class="testi-box_desig">Customer</span>
                            </div>
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                <span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>                
    </div>
</section>