<!--==============================
    Testimonial Area 5  
==============================-->
<div class="testiomonial-area-5 space" data-bg-src="assets/img/testimonial/testi_bg3.png">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span> TESTIMONIALS</span>
            <h2 class="sec-title">Our Customer Feedback</h2>
        </div>
        <div class="row gy-25">
            <div class="col-xl-4 col-md-6">
                <div class="testi-box3 bg-gray">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content"> Compellingly deploy premier web services via granular total linkage. Professionally strategize resource maximizing portals for cross-unit systems. Monotonectally Quality vectors with virtual supply chains.</p>
                    
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-1.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Imon Hossain</h4>
                            <span class="testi-box_desig">UI/UX Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="testi-box3 bg-gray">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content"> Professionally deploy premier web services via granular total linkage. Compellingly strategize resource maximizing portals for cross-unit systems. Monotonectally Quality vectors with virtual supply chains.</p>
                    
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-2.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Jenifer Lopez</h4>
                            <span class="testi-box_desig">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="testi-box3 bg-gray">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content">Monotonectal deploy premier web services via granular total linkage. Professionally strategize resource maximizing portals for cross-unit systems. Compelling Quality vectors with virtual supply chains.</p>
                    
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-3.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Alex Frunklin</h4>
                            <span class="testi-box_desig">SEO Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="testi-box3 bg-gray">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content"> UI/UX Design deploy premier web services via granular total linkage. Professionally strategize resource maximizing portals for cross-unit systems. Monotonectally Quality vectors with virtual supply chains.</p>
                    
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-4.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Bitinha Rafin</h4>
                            <span class="testi-box_desig">Marketing Adviser</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="testi-box3 bg-gray">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content"> Professionally deploy premier web services via granular total linkage. Compellingly strategize resource maximizing portals for cross-unit systems. Monotonectally Quality vectors with virtual supply chains.</p>
                    
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-5.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Sunjida Liza</h4>
                            <span class="testi-box_desig">UI/UX Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="testi-box3 bg-gray">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content">Monotonectal deploy premier web services via granular total linkage. Professionally strategize resource maximizing portals for cross-unit systems. Compelling Quality vectors with virtual supply chains.</p>
                    
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-6.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Henry Joshep</h4>
                            <span class="testi-box_desig">Front End Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>
</div>