<!--==============================
    Testimonial Area 3  
==============================-->
<section class="testiomonial-area3 space" data-bg-src="assets/img/testimonial/testi_bg2.png">
    <div class="container">
        <div class="title-area">
            <span class="sub-title">TESTIMONIALS</span>
            <h2 class="sec-title">Our Customer Feedback</h2>
        </div>
        <div class="row testimonial-slider3 as-carousel arrow-style-2" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true" data-lg-arrows="true" data-md-arrows="true">
            <div class="col">
                <div class="testi-box3">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content"> Compellingly deploy premier web services via granular total linkage. Professionally strategize resource maximizing portals for cross-unit systems. Monotonectally Quality vectors with virtual supply chains.</p>
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-1.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Imon Hossain</h4>
                            <span class="testi-box_desig">UI/UX Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testi-box3">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content"> Professionally deploy premier web services via granular total linkage. Compellingly strategize resource maximizing portals for cross-unit systems. Monotonectally Quality vectors with virtual supply chains.</p>
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-2.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Jenifer Lopez</h4>
                            <span class="testi-box_desig">Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testi-box3">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content">Monotonectal deploy premier web services via granular total linkage. Professionally strategize resource maximizing portals for cross-unit systems. Compelling Quality vectors with virtual supply chains.</p>
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-3.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Alex Frunklin</h4>
                            <span class="testi-box_desig">Web Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testi-box3">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content"> Compellingly deploy premier web services via granular total linkage. Professionally strategize resource maximizing portals for cross-unit systems. Monotonectally Quality vectors with virtual supply chains.</p>
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-1.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Imon Hossain</h4>
                            <span class="testi-box_desig">Front End Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testi-box3">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content"> Professionally deploy premier web services via granular total linkage. Compellingly strategize resource maximizing portals for cross-unit systems. Monotonectally Quality vectors with virtual supply chains.</p>
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-2.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Jenifer Lopez</h4>
                            <span class="testi-box_desig">UI/UX Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testi-box3">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon2.svg" alt="img">
                    </div>
                    <p class="testi_content">Monotonectal deploy premier web services via granular total linkage. Professionally strategize resource maximizing portals for cross-unit systems. Compelling Quality vectors with virtual supply chains.</p>
                    <div class="testi-box_profile">
                        <div class="thumb">
                            <img src="assets/img/testimonial/testi-profile-3.png" alt="img">
                        </div>
                        <div class="details">
                            <h4 class="testi-box_name">Alex Frunklin</h4>
                            <span class="testi-box_desig">UI/UX Designer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>                
    </div>
</section>