<!--==============================
    Testimonial Area 2  
==============================-->
<section class="testiomonial-area2 overflow-hidden">
    <div class="as-container2">
        <div class="row gx-0 justify-content-center">
            <div class="col-xl-6 col-lg-5">
                <div class="wcu-thumb" data-bg-src="assets/img/testimonial/testi_thumb_2.png">
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="testi-wrap" data-bg-src="assets/img/testimonial/testi_bg.png">
                    <div class="quote-icon">
                        <img src="assets/img/testimonial/quote-icon.svg" alt="img">
                    </div>
                    <div class="title-area mb-0">
                        <span class="sub-title">TESTIMONIALS</span>
                        <h2 class="sec-title">Our Customer Feedback
                        </h2>
                        <p class="content">Uniquely reintermediate distinctive niche market wherea interoperable infomediarie. Completely negotiate seamless partnerships via cutting-edge expertise.</p>
                    </div>
                    <div class="as-carousel arrow-style-2" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true" data-lg-arrows="true" data-md-arrows="true">
                        <div class="testi-box2">
                            <p class="testi_content"><i class="fa fa-quote-left me-1"></i>  Fabricate holisticly mission-critical manufactured products via enterprise-wide benefits. Synergistically reconceptualize compelling internal or "organic" sources whereas low-risk high-yield infrastructures. Professionally deploy user friendly value rather than prospective technology. Enthusiastically. Rapidiously reintermediate cooperative expertise rather than high-quality growth strategies.<i class="fa fa-quote-right ms-1"></i> </p>
                            <div class="testi-box_profile">
                                <div class="thumb">
                                    <img src="assets/img/testimonial/testi-profile-1.png" alt="img">
                                </div>
                                <div class="details">
                                    <h4 class="testi-box_name">Imon Hossain</h4>
                                    <span class="testi-box_desig">UI/UX Designer</span>
                                </div>
                            </div>
                        </div>
    
                        <div class="testi-box2">
                            <p class="testi_content"><i class="fa fa-quote-left me-1"></i> Holisticly fabricate mission-critical manufactured products via enterprise-wide benefits. Synergistically reconceptualize compelling internal or "organic" sources whereas low-risk high-yield infrastructures. Professionally deploy user friendly value rather than prospective technology. Enthusiastically. Rapidiously reintermediate cooperative expertise rather than high-quality growth strategies.<i class="fa fa-quote-right ms-1"></i> </p>
                            <div class="testi-box_profile">
                                <div class="thumb">
                                    <img src="assets/img/testimonial/testi-profile-2.png" alt="img">
                                </div>
                                <div class="details">
                                    <h4 class="testi-box_name">Jenifer Lopez</h4>
                                    <span class="testi-box_desig">UI/UX Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>                
            </div>
        </div>                
    </div>
</section>