<!--==============================
    Why-choose-us Area  
==============================-->
<div class="wcu-area">
    <div class="as-container2 position-relative bg-title">
        <!-- bg animated image -->
        <div class="anime-img-1 shape-mockup jump d-none d-lg-block" data-bottom="0%" data-right="0"><img src="assets/img/wcu/wcu_shape.png" alt="img"></div>    

        <div class="row gx-0">
            <div class="col-xl-6 col-lg-5">
                <div class="wcu-thumb" data-bg-src="assets/img/wcu/wcu-1.png">
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="wcu-box">
                    <div class="title-area">
                        <span class="sub-title">Why Choose Us</span>
                        <h2 class="sec-title text-white">Reasons to select Dealaro
                            Automotive services</h2>
                    </div>
                    <div class="info-media-wrap">
                        <div class="info-media">
                            <div class="info-media_icon">
                                <img class="icon-bg" src="assets/img/wcu/wcu_icon_bg_ylw.svg" alt="img">
                                <img class="icon-hover" src="assets/img/wcu/wcu_icon_bg_red.svg" alt="img">
                                1
                            </div>
                            <div class="media-body">
                                <h3 class="h4 info-media_title">Latest Equipments</h3>
                                <p class="info-media_text">Prion egret torpor rises. Donec rutrum congue leo eget Malasada. Vestibulum ante ipsum primes. </p>
                            </div>
                        </div>
                        <div class="info-media">
                            <div class="info-media_icon">
                                <img class="icon-bg" src="assets/img/wcu/wcu_icon_bg_ylw.svg" alt="img">
                                <img class="icon-hover" src="assets/img/wcu/wcu_icon_bg_red.svg" alt="img">
                                2
                            </div>
                            <div class="media-body">
                                <h3 class="h4 info-media_title">Expert Mecanics</h3>
                                <p class="info-media_text">Energistically conceptualize adaptive convergence without multifunctional materials. Assertively impact real-time.</p>
                            </div>
                        </div>
                        <div class="info-media mb-0">
                            <div class="info-media_icon">
                                <img class="icon-bg" src="assets/img/wcu/wcu_icon_bg_ylw.svg" alt="img">
                                <img class="icon-hover" src="assets/img/wcu/wcu_icon_bg_red.svg" alt="img">
                                3
                            </div>
                            <div class="media-body">
                                <h3 class="h4 info-media_title">Qulaity Services</h3>
                                <p class="info-media_text">Faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container space-top pt-xl-0 pb-xl-0">
        <form action="mail.php" method="POST" class="booking-form ajax-contact">
            <!-- bg animated image -->
            <div class="anime-img-2 bg-anime-scratch shape-mockup d-none d-md-block" data-top="0%" data-left="0"><img src="assets/img/wcu/wcu_filter_bg_1.png" alt="img"></div>
            <div class="anime-img-3 bg-anime-scratch shape-mockup d-none d-lg-block" data-top="37%" data-right="0"><img src="assets/img/wcu/wcu_filter_bg_2.png" alt="img"></div> 

            <div class="row">
                <div class="col-xl-5 align-self-center">
                    <div class="title-area mb-xl-0 text-center text-lg-start">
                        <h2 class="sec-title mb-0">Car Repair Estimator</h2>
                        <h3 class="h6 content mb-0">Get a location-based car repair estimate</h3>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="row gy-20">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <select name="classes" class="form-select style2">
                                    <option value="" disabled="disabled" selected="selected" hidden>Car Brand</option>
                                    <option value="1">Audi</option>
                                    <option value="2">Cadillac</option>
                                    <option value="3">BMW</option>
                                    <option value="4">Ferrari</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <select name="classes" class="form-select style2">
                                    <option value="" disabled="disabled" selected="selected" hidden>Car Model</option>
                                    <option value="1">Corolla</option>
                                    <option value="2">Axis</option>
                                    <option value="3">Primeo</option>
                                </select>
                            </div>                            
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <select name="classes" class="form-select style2">
                                    <option value="" disabled="disabled" selected="selected" hidden>Select Year</option>
                                    <option value="1">2019</option>
                                    <option value="2">2020</option>
                                    <option value="3">2021</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <select name="classes" class="form-select style2">
                                    <option value="" disabled="disabled" selected="selected" hidden>Zip Code</option>
                                    <option value="1">12058</option>
                                    <option value="2">20321</option>
                                    <option value="3">02546</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">  
                            <div class="form-group">
                                <input type="text" class="form-control" name="service" id="service" placeholder="Service Needed">
                            </div>
                        </div>
                        <div class="col-lg-4 form-btn">  
                            <button class="as-btn">GET ESTIMATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>