<!--==============================
    Why-choose-us Area 02 
==============================-->
<div class="wcu-area-2" data-bg-src="assets/img/wcu/wcu_shape2.png">
    <div class="container-fluid p-0">
        <div class="row gx-0">
            <div class="col-xl-6">
                <div class="wcu-thumb2 mt-n1">
                    <img src="assets/img/wcu/wcu-2.png" alt="img">
                </div>
            </div>
            <div class="col-xl-6">
                <div class="wcu-wrap space-top">
                    <div class="title-area">
                        <span class="sub-title">WHY CHOOSE US </span>
                        <h2 class="sec-title">We Got Your Covered. Good Cars
                            Good people guarantee.</h2>
                        <p class="content">Uniquely reintermediate distinctive niche market wherea interoperable infomediarie. Completely negotiate seamless partnerships via cutting-edge expertise. Rapidiously reintermediate cooperative expertise rather than high-quality growth strategies.</p>
                    </div>
                    <div class="row as-carousel gy-25"  data-slide-show="2" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="false">
                        <div class="col-lg-6">
                            <div class="wcu-card">
                                <div class="icon">
                                    <img src="assets/img/icon/wcu-box-icon-1.svg" alt="icon">
                                </div>
                                <h3 class="card-title h4">Wide range of brands</h3>
                                <p class="content">Dynamically redefine flexible core competencies with synergistic.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="wcu-card">
                                <div class="icon">
                                    <img src="assets/img/icon/wcu-box-icon-2.svg" alt="icon">
                                </div>
                                <h3 class="card-title h4">Get Reasonable Price</h3>
                                <p class="content">Reasonable redefine flexible core competencies with synergistic.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>