<!--==============================
    Why-choose-us Area 03 
==============================-->
<div class="wcu-area-3" data-bg-src="assets/img/bg/wcu-bg.png">
    <div class="container-fluid p-0">
        <div class="row gx-0">
            <div class="col-xl-5 order-xl-2">
                <div class="wcu-thumb video-box1" data-bg-src="assets/img/wcu/wcu-3.png">
                    <a href="https://www.youtube.com/watch?v=P7fi4hP_y80" class="play-btn popup-video">
                        <i class="fa-sharp fa-solid fa-play"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-7 order-xl-1">
                <div class="wcu-wrap3 space-top">
                    <div class="title-area">
                        <span class="sub-title">WHY CHOOSE US </span>
                        <h2 class="sec-title text-white">We Provide Special Service In The
                            Transportation Since 1998</h2>
                        <p class="content">Appropriately integrate visionary platforms after flexible value. Seamlessly provide access to orthogonal leadership without leading-edge. Distinctively fashion B2C "outside the box" thinking whereas process-centric users. Dramatically predominate e-business alignments rather.</p>
                    </div>
                    <div class="row  g-4">
                        <div class="col-sm-6">
                            <div class="wcu-card2">
                                <div class="icon">
                                    <img src="assets/img/wcu/wcu_icon_3-1.svg" alt="icon">
                                </div>
                                <div class="card-details">
                                    <h3 class="card-title h5">OUR MISSION</h3>
                                    <p class="content">Synergistically create granular
                                    best practices after magnetic.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="wcu-card2">
                                <div class="icon">
                                    <img src="assets/img/wcu/wcu_icon_3-2.svg" alt="icon">
                                </div>
                                <div class="card-details">
                                    <h3 class="card-title h5">OUR VISSION</h3>
                                    <p class="content">Vission synergistically granular
                                        best practices after magnetic.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>