<!--==============================
    Why-choose-us Area 04 
==============================-->
<div class="wcu-area-4" data-bg-src="assets/img/wcu/wcu_bg.png">
    <div class="container-fluid p-0">
        <div class="row gx-0">
            <div class="col-xl-6">
                <div class="wcu-thumb style-2 video-box1" data-bg-src="assets/img/wcu/wcu-4.png">
                    <a href="https://www.youtube.com/watch?v=P7fi4hP_y80" class="play-btn popup-video">
                        <i class="fa-sharp fa-solid fa-play"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="wcu-wrap4 space-top">
                    <div class="title-area">
                        <span class="sub-title">WHY CHOOSE US </span>
                        <h2 class="sec-title">We Got Your Covered. Good Cars
                            Good people guarantee.</h2>
                        <p class="content">Uniquely reintermediate distinctive niche market wherea interoperable infomediarie. Completely negotiate seamless partnerships via cutting-edge expertise. Rapidiously reintermediate cooperative expertise rather than high-quality growth strategies.</p>
                    </div>
                    <div class="row  g-4">
                        <div class="col-sm-6">
                            <div class="wcu-card">
                                <div class="icon">
                                    <img src="assets/img/icon/wcu-box-icon-1.svg" alt="icon">
                                </div>
                                <h3 class="card-title h4">Wide range of brands</h3>
                                <p class="content">Dynamically redefine flexible core competencies with synergistic.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="wcu-card">
                                <div class="icon">
                                    <img src="assets/img/icon/wcu-box-icon-2.svg" alt="icon">
                                </div>
                                <h3 class="card-title h4">Get Reasonable Price</h3>
                                <p class="content">Reasonable redefine flexible core competencies with synergistic.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>