<!--==============================
Process Area  
==============================-->
<section class="process-sec bg-smoke2 space" data-bg-src="assets/img/bg/work-process-bg.png">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><span class="double-line"></span> HOW IT WORK</span>
            <h2 class="sec-title">Easy 3-Step Working Process</h2>
        </div>
        <div class="row gy-40 justify-content-center">
            <div class="col-md-6 col-lg-4 process-box-wrap">
                <div class="process-box">
                    <div class="process-box_icon" data-bg-src="assets/img/bg/process-icon-bg.svg">
                        <img class="process-icon" src="assets/img/icon/process-icon-3-1.svg" alt="icon">
                        <div class="process-box_number">01</div>
                        <img class="arrow" src="assets/img/icon/arrow-left.svg" alt="img">
                    </div>
                    <h2 class="process-box_title box-title">Replenishment
                        & Picking</h2>
                    <p class="process-box_text">Professionally unleash collaborative e-services
                        whereas frictionless niches. Conveniently
                        mesh cooperative quality vectors.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 process-box-wrap">
                <div class="process-box">
                    <div class="process-box_icon" data-bg-src="assets/img/bg/process-icon-bg.svg">
                        <img class="process-icon" src="assets/img/icon/process-icon-3-2.svg" alt="icon">
                        <div class="process-box_number">02</div>
                        <img class="arrow mt-5" src="assets/img/icon/arrow-left2.svg" alt="img">
                    </div>
                    <h2 class="process-box_title box-title">Transportation
                        Process</h2>
                    <p class="process-box_text">Transportation unleash collaborative e-services
                        whereas frictionless niches. Conveniently
                        mesh cooperative quality vectors.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 process-box-wrap">
                <div class="process-box">
                    <div class="process-box_icon" data-bg-src="assets/img/bg/process-icon-bg.svg">
                        <img class="process-icon" src="assets/img/icon/process-icon-3-3.svg" alt="icon">
                        <div class="process-box_number">03</div>
                    </div>
                    <h2 class="process-box_title box-title">Packaging
                        & Distribution</h2>
                    <p class="process-box_text">Distribution unleash collaborative e-services
                        whereas frictionless niches. Conveniently
                        mesh cooperative quality vectors.</p>
                </div>
            </div>
        </div>
    </div>
</section>